{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'Edit', 'TitleContextValue' :'المستوى الدراسي', 'RouteAction' : 'nomenclatureniveauscolaire' })) }}
    <br>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    {% set cyclenseArray = {} %}
    {% for r in attribute(edit_form.vars.value,index[6]) %}
        {% set cyclenseArray = cyclenseArray|merge({(loop.index0): r.codecyclense.codecyclense}) %}
    {% endfor %}
    <div id="nomenclature_sise">
        <div>
            {{ form_label(attribute(edit_form,index[0])) }}
            {{ form_widget(attribute(edit_form,index[0]),{ 'attr': {'style':'background-color:#EEEEEE;', 'readonly':'readonly' }}) }}
        </div>

        <div>
            {{ form_label(attribute(edit_form,index[1])) }}
            {{ form_widget(attribute(edit_form,index[1])) }}
        </div>
        <div>
            {{ form_label(attribute(edit_form,index[2])) }}
            {{ form_widget(attribute(edit_form,index[2])) }}
        </div>

        {% if(context in tabnome) %}
            <div class="btn-group">
                {{ form_label(attribute(edit_form,index[5])) }}
                {{ form_widget(attribute(edit_form,index[5])) }}
            </div>
            <div class="btn-group">
                {{ form_label(attribute(edit_form,index[6])) }}
                {{ form_widget(attribute(edit_form,index[6])) }}
            </div>
            <div>
                {{ form_label(attribute(edit_form,index[3])) }}
                {{ form_widget(attribute(edit_form,index[3])) }}
            </div>
            <div>
                {{ form_label(attribute(edit_form,index[4])) }}
                {{ form_widget(attribute(edit_form,index[4])) }}
            </div>
        {% else %}
            <div>
                {{ form_label(attribute(edit_form,index[3])) }}
                {{ form_widget(attribute(edit_form,index[3])) }}
            </div>
            <div>
                {{ form_label(attribute(edit_form,index[4])) }}
                {{ form_widget(attribute(edit_form,index[4])) }}
            </div>
            <div>
                {{ form_label(attribute(edit_form,index[5])) }}
                {{ form_widget(attribute(edit_form,index[5])) }}
            </div>
            <div>
                {{ form_label(attribute(edit_form,index[6])) }}
                {{ form_widget(attribute(edit_form,index[6])) }}
            </div>
            <div>
                {{ form_label(attribute(edit_form,index[7])) }}
                {{ form_widget(attribute(edit_form,index[7])) }}
            </div>
            <div>
                {{ form_label(attribute(edit_form,index[8])) }}
                {{ form_widget(attribute(edit_form,index[8])) }}
            </div>
            <div>
                {{ form_label(attribute(edit_form,index[9])) }}
                {{ form_widget(attribute(edit_form,index[9])) }}
            </div>
        {% endif %}
    </div>
    {{ form_end(edit_form) }}
{% endblock %}
