{% extends '::base.html.twig' %}

    {% block body -%}
        {% trans_default_domain 'SiseCoreBundle' %}
        <div class="rightMenu">
            {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : '', 'TitleContextValue' : 'Nomenclature'|trans(), 'RouteAction' : '' })) }}

            <br>
            {{ include('SiseCoreBundle:Default:list.nomenclature.html.twig') }}
        </div>
        <div class="leftMenu">
            {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'List', 'TitleContextValue' :  context|trans({}, 'SiseCoreBundle') , 'RouteAction' : 'nomenclature' })) }}
<br>
            <table class="records_list">
            <thead>
            <tr style="color:White;background-color:#507CD1;font-weight:bold;">
                <th scope="col">{{ 'Code'|trans({}, 'SiseCoreBundle') }}</th>
                <th scope="col">{{ 'Libear'|trans({}, 'SiseCoreBundle') }}</th>
                <th scope="col">{{ 'Libefr'|trans({}, 'SiseCoreBundle') }}</th>
                <th scope="col">{{ 'ordraffi'|trans({}, 'SiseCoreBundle') }}</th>
                <th scope="col">{{ 'acti'|trans({}, 'SiseCoreBundle') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for key,entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('nomenclature_edit', {'context': context, 'id': entity[0] }) }}">{{ entity[0] }}</a>
                    </td>
                    <td>{{ entity[1] }}</td>
                    <td>{{ entity[2] }}</td>
                    <td>{{ entity[3] }}</td>
                    <td>{{ entity[4]}}</td>
                    {#{ entity.codegenr.codegenr == 'M' ? 'checked="checked"' :'' }#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

        {#<ul>#}
            {#<li>#}
                {#<a href="{{ path('nomenclature_new') }}">#}
                    {#Create a new entry#}
                {#</a>#}
            {#</li>#}
        {#</ul>#}
    {% endblock %}