{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'New', 'TitleContextValue' : 'مراحل التعليم', 'RouteAction' : 'nomenclatureniveauscolaire' })) }}
    <br>
    {{ form_start(form) }}
    {{ form_errors(form) }}
        <div id="nomenclature_sise">
            <div>
                {{ form_label(attribute(form,index[0])) }}
                {{ form_widget(attribute(form,index[0])) }}
            </div>

            <div>
                {{ form_label(attribute(form,index[1])) }}
                {{ form_widget(attribute(form,index[1])) }}
            </div>
            <div>
                {{ form_label(attribute(form,index[2])) }}
                {{ form_widget(attribute(form,index[2])) }}
            </div>
            {% if(context in tabnome) %}
                <div class="btn-group">
                    {{ form_label(attribute(form,index[5])) }}
                    {{ form_widget(attribute(form,index[5])) }}
                </div>
                <div class="btn-group">
                    {{ form_label(attribute(form,index[6])) }}
                    {{ form_widget(attribute(form,index[6])) }}
                </div>
                <div>
                    {{ form_label(attribute(form,index[3])) }}
                    {{ form_widget(attribute(form,index[3])) }}
                </div>
                <div>
                    {{ form_label(attribute(form,index[4])) }}
                    {{ form_widget(attribute(form,index[4])) }}
                </div>
            {% elseif(context in tabnomecycl) %}
                {% if context == "TypeEtablissement" or context == "Typeespace"%}
                    <div>
                        {{ form_label(attribute(form,index[10])) }}
                        {{ form_widget(attribute(form,index[10])) }}
                    </div>
                {% endif %}
                <div class="btn-group list">
                    <label>Test</label>

                    <ul id="parent_list_choice">
                        <span id="list_items_choices" class="btn btn-default">Select item</span>
                        <li>
                            {{ form_widget(attribute(form,index[5])) }}
                            {{ form_label(attribute(form,index[5])) }}
                        </li>

                        <li>
                            {{ form_widget(attribute(form,index[6])) }}
                            {{ form_label(attribute(form,index[6])) }}
                        </li>

                        <li>
                            {{ form_widget(attribute(form,index[7])) }}
                            {{ form_label(attribute(form,index[7])) }}
                        </li>

                        <li>
                            {{ form_widget(attribute(form,index[8])) }}
                            {{ form_label(attribute(form,index[8])) }}
                        </li>

                        <li>
                            {{ form_widget(attribute(form,index[9])) }}
                            {{ form_label(attribute(form,index[9])) }}
                        </li>

                    </ul>

                </div>
                <div>
                    {{ form_label(attribute(form,index[3])) }}
                    {{ form_widget(attribute(form,index[3])) }}
                </div>

                <div>
                    {{ form_label(attribute(form,index[4])) }}
                    {{ form_widget(attribute(form,index[4])) }}
                </div>
            {% elseif(context in tabnomepart) %}
                <div class="btn-group">
                    {{ form_label(attribute(form,index[5])) }}
                    {{ form_widget(attribute(form,index[5])) }}
                </div>
            {% if context == "Niveauscolaire" %}
                <div class="btn-group">
                    {{ form_label(attribute(form,index[6])) }}
                    {{ form_widget(attribute(form,index[6])) }}
                </div>
            {% endif %}
                <div>
                    {{ form_label(attribute(form,index[3])) }}
                    {{ form_widget(attribute(form,index[3])) }}
                </div>
                <div>
                    {{ form_label(attribute(form,index[4])) }}
                    {{ form_widget(attribute(form,index[4])) }}
                </div>
            {% else %}
                <div>
                    {{ form_label(attribute(form,index[3])) }}
                    {{ form_widget(attribute(form,index[3])) }}
                </div>
                <div>
                    {{ form_label(attribute(form,index[4])) }}
                    {{ form_widget(attribute(form,index[4])) }}
                </div>

            {% endif %}
        </div>
    {{ form_end(form) }}
{% endblock %}
