{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'New', 'TitleContextValue' : 'مراحل التعليم', 'RouteAction' : 'nomenclatureniveauscolaire' })) }}
    <br>
    {{ form_start(form) }}
    {{ form_errors(form) }}
        <div id="nomenclature_sise">
            <div>
                {{ form_label(attribute(form,index[0])) }}
                {{ form_widget(attribute(form,index[0]),{ 'attr': {'style':'background-color:#EEEEEE;', 'readonly':'readonly' }}) }}
            </div>

            <div>
                {{ form_label(attribute(form,index[1])) }}
                {{ form_widget(attribute(form,index[1])) }}
            </div>
            <div>
                {{ form_label(attribute(form,index[2])) }}
                {{ form_widget(attribute(form,index[2])) }}
            </div>
            {% if(context in tabnome) %}
                <div class="btn-group">
                    {{ form_label(attribute(form,index[5])) }}
                    {{ form_widget(attribute(form,index[5])) }}
                </div>
                <div class="btn-group">
                    {{ form_label(attribute(form,index[6])) }}
                    {{ form_widget(attribute(form,index[6])) }}
                </div>
                <div>
                    {{ form_label(attribute(form,index[3])) }}
                    {{ form_widget(attribute(form,index[3])) }}
                </div>
                <div>
                    {{ form_label(attribute(form,index[4])) }}
                    {{ form_widget(attribute(form,index[4])) }}
                </div>
            {% else %}
                <div>
                    {{ form_label(attribute(form,index[3])) }}
                    {{ form_widget(attribute(form,index[3])) }}
                </div>
                <div>
                    {{ form_label(attribute(form,index[4])) }}
                    {{ form_widget(attribute(form,index[4])) }}
                </div>
            {% endif %}
        </div>
    {{ form_end(form) }}
{% endblock %}
