{#
 <div style="display: none">
            <a href="/stat/StatEquipement/statElev" style="display:inline-block" id="BtnNouveau">BtnNouveau</a>
            <a href="/stat/StatEquipement/statElev" style="display:inline-block" id="BtnRetour">BtnRetour</a>
            <a href="/stat/StatEquipement/statElev" style="display:inline-block" id="BtnEditer">BtnEditer</a>
            <a href="/stat/StatEquipement/statElev" style="display:inline-block" id="BtnAnnuler">BtnAnnuler</a>
            <a href="/stat/StatEquipement/statElev" style="display:inline-block" id="BtnSupprimer">BtnSupprimer</a>
            <a href="/stat/StatEquipement/statElev" style="display:inline-block" id="BtnRechercher">BtnRechercher</a>
            <a href="/stat/StatEquipement/statElev" style="display:inline-block" id="BtnCloturer111">Cloturer</a>
            <input id="BtnCloturer" type="reset" onclick="alert('aaa');" >
        </div>

        #}
<br/>
<style type="text/css">
    .TopfixedMenu {
        width: 94%;
        position: fixed;
        top: 0px;
        height: 75px;
        background-color: White;

    }

    a:link {
        text-decoration: none;
        font-family: wf_segoe-ui_normal;

    }

    a:visited {
        text-decoration: none;
        font-family: wf_segoe-ui_normal;
    }

    a:hover {
        text-decoration: none;
        font-family: wf_segoe-ui_normal;
    }

    a:active {
        text-decoration: none;
        font-family: wf_segoe-ui_normal;
    }

</Style>
<script type="text/javascript">
    window.onscroll = scroll;
    function scroll() {
        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        if (scrollTop > 230) {
            document.getElementById("MenuDiv").className = "TopfixedMenu";
        } else {
            document.getElementById("MenuDiv").className = ""
        }
    }
</script>
<div id="MenuDiv">
    <table width="100%"
           style=" font-family :wf_segoe-ui_normal,Tahoma,Verdana,Arial,sans-serif;font-size: 1.2em;height:56px; border-spacing :2px;">
        <tr>
            <td rowspan="2"
                style="background-color:#EEEEEE; border-left :2px; border-left-color: White; border-left-style :solid;  ">
                &nbsp; <img src="{{ asset('bundles/sisecore/images/16x16/symbol.png') }}"/>
                &nbsp; {{ TitleContextValue }}
            </td>

            {% if TdNouveau == true %}
                <td width="6%" align="center" style="background-color:#EEEEEE; height:32px;"  id="TdNouveau">
                    <a href="#"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/add.png') }}"/> </a>
                </td>
            {% endif %}
            {% if TdExporter == true %}
                <td id="TdExporter" width="6%" align="center" style="background-color:#EEEEEE;height:32px;">
                    <a href="#"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/excel.png') }}"/> </a>
                </td>
            {% endif %}
            {% if TdValider == true %}
                <td id="TdValider" width="6%" align="center" style="background-color:#EEEEEE;height:32px">

                    <input name="Valider" type="image"
                           src="{{ asset('bundles/sisecore/images/32x32/save.png') }}" type="submit">
                </td>
            {% endif %}
            {% if TdRetour == true %}
                <td id="TdRetour" width="6%" align="center" style="background-color:#EEEEEE;height:32px">

                        <a href="#"
                           style="background-color:Transparent;border-style:None; display: block">
                            <img src="{{ asset('bundles/sisecore/images/32x32/return.png') }}"/> </a>


                </td>
            {% endif %}
            {% if TdAnnuler == true %}
                <td id="TdAnnuler2" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    <a href="#"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/cancel.png') }}"/></a>
                </td>
            {% endif %}
            {% if TdSupprimer == true %}
                <td id="TdSupprimer" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    <a href="#"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/delete.png') }}"/> </a>
                </td>
            {% endif %}
            {% if TdRechercher == true %}
                <td id="TdRechercher" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    <a href="#"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/find.png') }}"/> </a>
                </td>
            {% endif %}
            {% if TdEditer == true %}
                <td id="TdEditer" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    <a href="#"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/edit_file.png') }}"/> </a>
                </td>
            {% endif %}
            {% if TdCloturer == true  %}
                <td id="TdCloturer" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    <a href="#"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/valider.png') }}"/> </a>
                </td>
            {% endif %}
        </tr>
        <tr>
            {% if TdNouveau == true  %}
                <td id="TdNouveau2" align="center" style="background-color: #00BCF2; color: White; font-size: 1em; ">
                    <a href="#"
                       style="color:White;background-color:Transparent;border-style:None; display: block">
                        إضافة
                    </a>
                </td>
            {% endif %}
            {% if TdExporter == true  %}
                <td id="TdExporter2" align="center" style="background-color: #68217A; color: White; font-size: 1em; ">
                    {#
                       <a href="#"
                          style="color:White;background-color:Transparent;border-style:None; display: block">
                       </a>
                    #}

                    <a id="TdExporter" style="display: block; color: #ffffff" download="somedata.xls" href="#"
                       onclick="return ExcellentExport.excel(this, 'CPHMain_GridView_Browse', 'Sheet Name Here');">
                        إكسال</a>
                </td>
            {% endif %}
            {#{{ path( Route.Exporter) }}#}
            {% if TdValider == true %}
                <td id="TdValider2" align="center" style="background-color: #52B043; color: White; font-size: 1em;">

                    <input name="Valider2" style="color:White;background-color:Transparent;border-style:None;"
                           value="تأكيد" type="submit">
                </td>
            {% endif %}
            {% if TdRetour == true %}
                <td id="TdRetour2" align="center" style="background-color: #00AEEF; color: White; font-size: 1em;">
            
                        <a href="#" id="TdRetour"
                           style="color:White;background-color:Transparent;border-style:None; display: block">قائمة
                        </a>


                </td>
            {% endif %}
            {% if TdAnnuler == true  %}
                <td id="TdAnnuler" align="center" style="background-color: #FFB800; color: White; font-size: 1em;">
                    <a href="#"
                       style="color:White;background-color:Transparent;border-style:None; display: block">إلغاء
                    </a>

                </td>
            {% endif %}
            {% if TdSupprimer == true  %}
                <td id="TdSupprimer2" align="center" style="background-color: #EA3E23; color: White; font-size: 1em;">
                    <a href="#"
                       style="color:White;background-color:Transparent;border-style:None; display: block">مسح
                    </a>

                </td>
            {% endif %}
            {% if TdRechercher == true  %}
                <td id="TdRechercher2" align="center" style="background-color: #FFB800; color: White; font-size: 1em;">
                    <a href="#"
                       style="color:White;background-color:Transparent;border-style:None; display: block">بحث
                    </a>

                </td>
            {% endif %}
            {% if TdEditer == true  %}
                <td id="TdEditer2" align="center" style="background-color: #52B043; color: White; font-size: 1em;">
                    <a href="#"
                       style="color:White;background-color:Transparent;border-style:None; display: block">تحيين
                    </a>

                </td>
            {% endif %}
            {% if TdCloturer == true  %}
                <td id="TdCloturer2" align="center" style="background-color: #EA3E23; color: White; font-size: 1em;">
                    <a href="#" id="TdCloturer"
                       style="color:White;background-color:Transparent;border-style:None; display: block">المصادقة
                    </a>

                </td>
            {% endif %}

        </tr>
    </table>

</div>

