<br/>
<style type="text/css">
    .TopfixedMenu {
        width: 100%;
        position: fixed;
        left: 10px;
        top: 0px;
        height: 75px;
        background-color: White;

    }

    a:link {
        text-decoration: none;
        font-family: wf_segoe-ui_normal;

    }

    a:visited {
        text-decoration: none;
        font-family: wf_segoe-ui_normal;
    }

    a:hover {
        text-decoration: none;
        font-family: wf_segoe-ui_normal;
    }

    a:active {
        text-decoration: none;
        font-family: wf_segoe-ui_normal;
    }

</Style>
<script type="text/javascript">
    window.onscroll = scroll;
    function scroll() {
        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        if (scrollTop > 230) {
            document.getElementById("MenuDiv").className = "TopfixedMenu";
        } else {
            document.getElementById("MenuDiv").className = ""
        }
    }
</script>
<div id="MenuDiv">
    <table width="100%"
           style=" font-family :wf_segoe-ui_normal,Tahoma,Verdana,Arial,sans-serif;font-size: 1.2em;height:56px; border-spacing :2px;">
        <tr>
            <td rowspan="2"
                style="background-color:#EEEEEE; border-left :2px; border-left-color: White; border-left-style :solid;  ">
                &nbsp; <img src="{{ asset('bundles/sisecore/images/16x16/symbol.png') }}"/>
                &nbsp; {{ TitleContextValue }}
            </td>

            {% if TdNouveau == true and  Route.Nouveau|routeExists == 1 %}
                <td id="TdNouveau" width="6%" align="center" style="background-color:#EEEEEE; height:32px;">
                    <a href="{{ path( Route.Nouveau) }}"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/add.png') }}"/> </a>
                </td>
            {% endif %}
            {% if TdExporter == true and  Route.Exporter|routeExists==1 %}
                <td id="TdExporter" width="6%" align="center" style="background-color:#EEEEEE;height:32px;">
                    <a href="{{ path( Route.Exporter) }}"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/excel.png') }}"/> </a>
                </td>
            {% endif %}
            {% if TdValider == true %}
                <td id="TdValider" width="6%" align="center" style="background-color:#EEEEEE;height:32px">

                    <input name="Valider" type="image"
                           src="{{ asset('bundles/sisecore/images/32x32/save.png') }}" type="submit">
                </td>
            {% endif %}
            {% if TdRetour == true and  Route.Retour|routeExists==1 %}
                <td id="TdRetour" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    {% if RouteParams.Retour=='' %}
                        <a href="{{ path(Route.Retour ) }}"
                           style="background-color:Transparent;border-style:None; display: block">
                            <img src="{{ asset('bundles/sisecore/images/32x32/return.png') }}"/> </a>

                    {% else %}
                        <a href="{{ path(Route.Retour, RouteParams.Retour) }}"
                           style="background-color:Transparent;border-style:None; display: block">
                            <img src="{{ asset('bundles/sisecore/images/32x32/return.png') }}"/> </a>
                    {% endif %}

                </td>
            {% endif %}
            {% if TdAnnuler == true and  Route.Annuler|routeExists==1 %}
                <td id="TdAnnuler" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    <a href="{{ path( Route.Annuler) }}"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/cancel.png') }}"/></a>
                </td>
            {% endif %}
            {% if TdSupprimer == true and  Route.Supprimer|routeExists==1 %}
                <td id="TdSupprimer" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    <a href="{{ path( Route.Supprimer) }}"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/delete.png') }}"/> </a>
                </td>
            {% endif %}
            {% if TdRechercher == true and  Route.Rechercher|routeExists==1 %}
                <td id="TdRechercher" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    <a href="{{ path( Route.Rechercher) }}"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/find.png') }}"/> </a>
                </td>
            {% endif %}
            {% if TdEditer == true and  Route.Editer|routeExists==1 %}
                <td id="TdEditer" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    <a href="{{ path( Route.Editer) }}"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/edit_file.png') }}"/> </a>
                </td>
            {% endif %}
            {% if TdCloturer == true and  Route.Cloturer|routeExists==1 %}
                <td id="TdCloturer" width="6%" align="center" style="background-color:#EEEEEE;height:32px">
                    <a href="{{ path( Route.Cloturer) }}"
                       style="background-color:Transparent;border-style:None; display: block">
                        <img src="{{ asset('bundles/sisecore/images/32x32/valider.png') }}"/> </a>
                </td>
            {% endif %}
        </tr>
        <tr>
            {% if TdNouveau == true and  Route.Nouveau|routeExists == 1 %}
                <td id="TdNouveau2" align="center" style="background-color: #00BCF2; color: White; font-size: 1em; ">
                    <a href="{{ path( Route.Nouveau) }}"
                       style="color:White;background-color:Transparent;border-style:None; display: block">
                        إضافة
                    </a>
                </td>
            {% endif %}
            {% if TdExporter == true and  Route.Exporter|routeExists==1 %}
                <td id="TdExporter2" align="center" style="background-color: #68217A; color: White; font-size: 1em; ">
                    <a href="{{ path( Route.Exporter) }}"
                       style="color:White;background-color:Transparent;border-style:None; display: block">إكسال
                    </a>

                </td>
            {% endif %}

            {% if TdValider == true %}
                <td id="TdValider2" align="center" style="background-color: #52B043; color: White; font-size: 1em;"
                    onclick="document.getElementById('id_with_js').submit();">

                    <input name="Valider2" style="color:White;background-color:Transparent;border-style:None;"
                           value="تأكيد" type="submit" onclick="document.getElementById('id_with_js').submit();">
                </td>
            {% endif %}
            {% if TdRetour == true and  Route.Retour|routeExists==1 %}
                <td id="TdRetour2" align="center" style="background-color: #00AEEF; color: White; font-size: 1em;">
                    {% if RouteParams.Retour=='' %}
                        <a href="{{ path( Route.Retour  ) }}"
                           style="color:White;background-color:Transparent;border-style:None; display: block">قائمة
                        </a>

                    {% else %}
                        <a href="{{ path( Route.Retour, RouteParams.Retour ) }}"
                           style="color:White;background-color:Transparent;border-style:None; display: block">قائمة
                        </a>
                    {% endif %}

                </td>
            {% endif %}
            {% if TdAnnuler == true and  Route.Annuler|routeExists==1 %}
                <td id="TdAnnuler2" align="center" style="background-color: #FFB800; color: White; font-size: 1em;">
                    <a href="{{ path( Route.Annuler) }}"
                       style="color:White;background-color:Transparent;border-style:None; display: block">إلغاء
                    </a>

                </td>
            {% endif %}
            {% if TdSupprimer == true and  Route.Supprimer|routeExists==1 %}
                <td id="TdSupprimer2" align="center" style="background-color: #EA3E23; color: White; font-size: 1em;">
                    <a href="{{ path( Route.Supprimer) }}"
                       style="color:White;background-color:Transparent;border-style:None; display: block">مسح
                    </a>

                </td>
            {% endif %}
            {% if TdRechercher == true and  Route.Rechercher|routeExists==1 %}
                <td id="TdRechercher2" align="center" style="background-color: #FFB800; color: White; font-size: 1em;">
                    <a href="{{ path( Route.Rechercher) }}"
                       style="color:White;background-color:Transparent;border-style:None; display: block">بحث
                    </a>

                </td>
            {% endif %}
            {% if TdEditer == true and  Route.Editer|routeExists==1 %}
                <td id="TdEditer2" align="center" style="background-color: #52B043; color: White; font-size: 1em;">
                    <a href="{{ path( Route.Editer) }}"
                       style="color:White;background-color:Transparent;border-style:None; display: block">تحيين
                    </a>

                </td>
            {% endif %}
            {% if TdCloturer == true and  Route.Cloturer|routeExists==1 %}
                <td id="TdCloturer2" align="center" style="background-color: #EA3E23; color: White; font-size: 1em;">
                    <a href="{{ path( Route.Cloturer) }}"
                       style="color:White;background-color:Transparent;border-style:None; display: block">المصادقة
                    </a>

                </td>
            {% endif %}

        </tr>
    </table>

</div>
