<tr>
    <td>
        {{ form.vars.name }}
    </td>
    <td align="right">{{ form_widget(form.nomprenelev) }}</td>
    <td align="right">{{ form_widget(form.codegenr) }}</td>
    <td align="right">{{ form_widget(form.codenivescol) }}</td>
    <td>{{ form_widget(form.codefili) }}</td>
    <td align="right">{{ form_widget(form.codetypeetabautr) }}</td>
    <td align="right">{{ form_widget(form.codeetabautr) }}</td>


    <td style="border-bottom: black 1px solid; width: 5%;  vertical-align:top">
        <a rel="effectifelevelisteelevedeplacerversautreetablissement_deleteItem" class="delete_handicaps"
           style="display: inline-block">
            <img name="sise_delete_line" id="sise_delete_line"
                 src="/bundles/sisecore/images/16x16/cancel_16.png">
        </a>
    </td>

</tr>