<tr>
    <td>
        {{ form.vars.name }}
    </td>
    <td align="right">{{ form_widget(form.idenuniqense) }}</td>
    <td align="right">{{ form_widget(form.nompren) }}</td>
    <td align="right">{{ form_widget(form.enseangl) }}</td>
    <td>{{ form_widget(form.ensetechinfo) }}</td>
    <td style="border-bottom: black 1px solid; width: 5%;  vertical-align:top">
        <a rel="effectiveenseignentlisteenseignenttypeenseignement_deleteItem"
           class="delete_enseignement"
           style="display: inline-block">
            <img name="sise_delete_line" id="sise_delete_line"
                 src="/bundles/sisecore/images/16x16/cancel_16.png">
        </a>
    </td>

</tr>