
    {% if form.NomenclatureEtablissement is defined  %}
    <form action="{{ pathfilter }}" method="post" {{ form_enctype(form) }} class="well form-search" id="filtrage_sise">
        <div id="CPHMain_EtabFiltre1_upfiltre">

            <br>
            <table width="100%" style="font-size: 14pt; background-color: #EEEEEE; padding: 10px;">
                <tbody>
                <tr style="background: #EEEEEE">
        {% set Circ = form.NomenclatureCirconscriptionregional.vars.block_prefixes.1  %}
                    {% set dele = form.NomenclatureDelegation.vars.block_prefixes.1  %}

                    <td id="CPHMain_EtabFiltre1_TdCodeCircRegi" width="15%">     {% if Circ  == 'choice' %}
                        المندوبية الجهوية
                        {% endif %} </td>




                    <td id="CPHMain_EtabFiltre1_TdCodeDele" width="15%"> {% if dele  == 'choice' %}
                        المعتمدية
                        {% endif %}</td>


                    <td id="CPHMain_EtabFiltre1_TdCodeTypeEtab" width="15%">
                        نوع المؤسسة
                    </td>

                    <td id="CPHMain_EtabFiltre1_TdCodeEtab" width="15%">
                        المؤسسة

                    </td>

                    <td id="CPHMain_EtabFiltre1_Td1" width="15%">
                        رمز المؤسسة

                    </td>
                    <td width="15%">


                    </td>

                </tr>


                <tr>

                    <td>  {{ form_widget(form.NomenclatureCirconscriptionregional, {'attr': {'class': 'NomenclatureCirconscriptionregional', 'onChange': 'getListe("sise_bundle_corebundle_search_NomenclatureCirconscriptionregional","NomenclatureDelegation", "sise_bundle_corebundle_search_NomenclatureDelegation" );' }}
                        ) }}
                    </td>


                    <td>  {{ form_widget(form.NomenclatureDelegation, {'attr': {'class': 'NomenclatureDelegation', 'onChange': 'getListe("sise_bundle_corebundle_search_NomenclatureDelegation","NomenclatureTypeetablissement", "sise_bundle_corebundle_search_NomenclatureTypeetablissement" );' }}
                        ) }}
                    </td>
                    <td>  {{ form_widget(form.NomenclatureTypeetablissement, {'attr': {'class': 'NomenclatureTypeetablissement', 'onChange': 'getListe("sise_bundle_corebundle_search_NomenclatureTypeetablissement","NomenclatureEtablissement", "sise_bundle_corebundle_search_NomenclatureEtablissement" );' }}
                        ) }}
                    </td>
                    <td>  {{ form_widget(form.NomenclatureEtablissement, {'attr': {'class': 'NomenclatureEtablissement', 'onChange': 'getListe("sise_bundle_corebundle_search_NomenclatureEtablissement","CodeEtab", "sise_bundle_corebundle_search_CodeEtab" );' }}
                        ) }}
                    </td>
                    <td>  {{ form_widget(form.CodeEtab, {'attr': {'class': 'CodeEtab' }}) }}</td>
                    <td width="15%" align="center">
                        <input type="submit" name="ctl00$CPHMain$BtnRechercher" value="بحث" id="CPHMain_BtnRechercher"
                               class="BtnRecherche">
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </form>
    {% endif %}



<style>
    #filtrage_sise table td select, #filtrage_sise table td input {
        width: 85%;
        height: 30px;
        padding-right: 8px;

    }

</style>