{% extends '::base.html.twig' %}

{% block body -%}

    <form action="{{ path('nomenclaturerecensement_create') }}" method="post" {{ form_enctype(form) }}>
        {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'New', 'TitleContextValue' : 'التعداد', 'RouteAction' : 'nomenclaturerecensement' })) }}



        {#{{ form_widget(edit_form) }}#}
        {{ form_errors(form) }}
        <div id="CPHMain_upmain">
            <fieldset style="font-size: 14pt; padding-right: 5px">
                <legend>
                    معطيات التعداد
                </legend>
                <div>
                    <span id="Label1" style="display:inline-block;height:28px;width:20%;">بيان التعداد</span>
                    {{ form_widget(form.coderece) }}

                </div>
                <div>
                    <span id="Label2" style="display:inline-block;height:28px;width:20%;">اسم التعداد (عربى)</span>
                    {{ form_widget(form.liberecear) }}

                </div>

                <div>


                    <span id="Label4" style="display:inline-block;height:28px;width:20%;">السنة دراسية</span>
                    {{ form_widget(form.annescol) }}
                </div>

                <div>
                    <span id="Label5"
                          style="display:inline-block;height:28px;width:20%;">تاريخ بداية حجز المعطيات</span>
                    {{ form_widget(form.dateouve) }}
                </div>

                <div>
                    <span id="Label6"
                          style="display:inline-block;height:28px;width:20%;">تاريخ نهاية حجز المعطيات</span>
                    {{ form_widget(form.dateclot) }}
                </div>

                <div>
                    <span id="Label10" style="display:inline-block;height:28px;width:20%;">دورية</span>
                    {{ form_widget(form.codeperi) }}
                </div>

                <div>
                    <span id="Label9" style="display:inline-block;height:28px;width:20%;">الملاحظات</span>
                    {{ form_widget(form.obse) }}
                </div>
            </fieldset>
        </div>

        <fieldset style="font-size: 14pt; padding-right: 5px">
            <legend>
                الجداول الإحصائية
            </legend>

        </fieldset>
        {#   {{ form_rest(form) }}#}

    </form>

{% endblock %}
