{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NomenclatureRecensement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Coderece</th>
                <td>{{ entity.coderece }}</td>
            </tr>
            <tr>
                <th>Liberecear</th>
                <td>{{ entity.liberecear }}</td>
            </tr>
            <tr>
                <th>Liberecefr</th>
                <td>{{ entity.liberecefr }}</td>
            </tr>
            <tr>
                <th>Annescol</th>
                <td>{{ entity.annescol }}</td>
            </tr>
            <tr>
                <th>Dateouve</th>
                <td>{{ entity.dateouve|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateclot</th>
                <td>{{ entity.dateclot|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Codeperisuivbudg</th>
                <td>{{ entity.codeperisuivbudg }}</td>
            </tr>
            <tr>
                <th>Initques</th>
                <td>{{ entity.initques }}</td>
            </tr>
            <tr>
                <th>Obse</th>
                <td>{{ entity.obse }}</td>
            </tr>
            <tr>
                <th>Codeperi</th>
                <td>{{ entity.codeperi }}</td>
            </tr>
            <tr>
                <th>Dureperi</th>
                <td>{{ entity.dureperi }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('nomenclaturerecensement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('nomenclaturerecensement_edit', { 'id': entity.coderece }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
