{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NomenclatureEtablissement list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Libeetabar</th>
            <th>Libeetabfr</th>
            <th>Libecourar</th>
            <th>Libecourfr</th>
            <th>codetypeetab</th>
            <th>codedele</th>
            <th>codesect</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('etablissementcycleenseignement_edit', { 'codetypeetab': entity.codetypeetab.codetypeetab , 'codeetab': entity.codeetab }) }}">{{ entity.libeetabar }}</a></td>
                <td>{{ entity.libeetabfr }}</td>
                <td>{{ entity.libecourar }}</td>
                <td>{{ entity.libecourfr }}</td>
                <td> {{ entity.codetypeetab.libetypeetabar }}</td>
                <td>{{ entity.codedele.libedelear }}</td>
                <td>{{ entity.codesect.libesectar }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('etablissementcycleenseignement_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
