<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}SISE{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/sisecore/css/master.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/sisecore/css/grid.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/sisecore/css/common.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/sisecore/colorbox/colorbox.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/sisecore/css/bootstrap-multiselect.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/sisecore/css/nomenclature.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/siseuser/css/users.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/sisecore/JQuery-ui/css/cupertino/jquery-ui-1.10.4.custom.css') }}"
              rel="stylesheet"/>

    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    {% block head %}{% endblock %}
</head>
<body dir="rtl">
<div class="containertitre">
    <img id="Image1" src="{{ asset('bundles/sisecore/images/flag_tn.gif') }}"/>
    <span style="vertical-align: top">{{ 'REPUBLIQUE TUNISIENNE'|trans({}, 'SiseCoreBundle') }}
        | {{ '‪Ministère de Education'|trans({}, 'SiseCoreBundle') }}</span>
</div>
<div class="containertitre2">
    <span style="vertical-align: top">{{ 'Direction Générale des Etudes et des systèmes de planification et information'|trans({}, 'SiseCoreBundle') }} </span>
</div>
<div class="containertitre2">
    <div style="width: 50%; float: right; direction: rtl">
        <span style="vertical-align: top">{{ 'Système information statistique'|trans({}, 'SiseCoreBundle') }}</span>
    </div>
    <form method="post" action="/" id="form1" dir="rtl">
        <div style="width: 50%; float: left; direction: ltr">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_security_logout') }}" class="buttonStyle">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
                &nbsp;
                <a href="{{ path('fos_user_resetting_request') }}" class="buttonStyle">
                    {{ app.user.username }}
                </a>
                &nbsp;
                <a href="#" class="buttonStyle getcoderecen"
                   rel="{{ path('sise_core_selectCodeRec') }}"> {% if app.session.get('LibeReceAr') %} {{ app.session.get('LibeReceAr') }} {% else %}إختر التعداد المناسب {% endif %}</a>



            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </form>

</div>
<div class="container">
    <ul id="nav" dir="rtl">
        <li class="active"><a href="/">
                {{ '‪Accueil'|trans({}, 'SiseCoreBundle') }}
            </a></li>
        <li>
            <a href="#"> {{ 'Etablissement enseignement'|trans({}, 'SiseCoreBundle') }}</a>
            <span id="Span4"></span>
            <ul class="subs">
                <li>
                    <a href="{{ path('nomenclatureetablissement') }}">  {{ 'Etablissement enseignement'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li>
                    <a href="{{ path('etablissementficheetablissement') }}"> {{ 'Fondation région et immeubles / terrains carte'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
            </ul>
        </li>
        <li><a href="#s1"> {{ 'les élèves'|trans({}, 'SiseCoreBundle') }}</a> <span id="s1"></span>
            <ul class="subs">
                <li>
                    <a href='{{ path("statElev", {"codepack":"StatElev"}) }}'>{{ 'Statistiques élèves'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li>
                    <a href="{{ path('statElev', {'codepack':'OrieElev'}) }}">{{ 'Statistiques relatives aux directions des élèves'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li>
                    <a href="{{ path('statElev', {'codepack':'MouvEleve'}) }}">{{ 'Statistiques relatives aux mouvements des élèves'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('statElev', {'codepack':'StatEquipement'}) }}"> {{ 'Structures et équipements'|trans({}, 'SiseCoreBundle') }}</a>
        </li>
        <li>
            <a href="#">  {{ 'Ressources humaines'|trans({}, 'SiseCoreBundle') }}</a> <span id="Span1"></span>
            <ul class="subs">
                <li>
                    <a href="{{ path('statElev', {'codepack':'StatEnse'}) }}">{{ 'le personnel enseignant'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li>
                    <a href="{{ path('statElev', {'codepack':'StatPers'}) }}">{{ 'rh non enseignant'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li><a href="{{ path('personnelpersonnel') }}">{{ 'rh enseignant'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('statElev', {'codepack':'StatBudget'}) }}">{{ 'Budget'|trans({}, 'SiseCoreBundle') }}</a> <span
                    id="Span2">
            </span>
            <ul class="subs">
                <li>
                    <a href="{{ path('statElev', {'codepack':'StatBudget'}) }}"> {{ 'Suivi de la forme du budget'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
            </ul>
        </li>


        <li>
            <a href="{{ path('statElev', {'codepack':'ActiEtab'}) }}"> {{ 'Fondation activité'|trans({}, 'SiseCoreBundle') }} </a> <span
                    id="Span3"></span>
            <ul class="subs">
                <li>
                    <a href="{{ path('statElev', {'codepack':'ActiEtab'}) }}"> {{ 'Rapport quotidien Fondation activité'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="Stat/Stat.php">{{ 'Les rapports statistiques'|trans({}, 'SiseCoreBundle') }} </a>
            <ul class="subs">
                <li>
                    <a href="Stat/ResumeStatistique.php">{{ 'Un résumé des résultats du recensement de l école'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li>
                    <a href="RapportStatistique/RapportStatistique.php">{{ 'Les rapports statistiques'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li><a href="Stat/Stat.php?P=1">{{ 'Statistiques élèves'|trans({}, 'SiseCoreBundle') }}</a></li>
                <li><a href="Stat/Stat.php?P=2">{{ 'Ressources humaines recensement'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li>
                    <a href="Stat/Stat.php?P=3">{{ 'Statistiques des structures et de l équipement'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li><a href="Stat/Stat.php?P=4">{{ 'suivi budgétaire'|trans({}, 'SiseCoreBundle') }}</a></li>
                <li>
                    <a href="Stat/Stat.php?P=5">{{ 'Statistiques relatives aux mouvements des élèves'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li>
                    <a href="Stat/Stat.php?P=6">{{ 'Statistiques relatives aux directions des élèves'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li><a href="Stat/Stat.php?P=7">{{ 'fondation'|trans({}, 'SiseCoreBundle') }}</a></li>
                <li><a href="Stat/Stat.php?P=8">{{ 'indicateurs'|trans({}, 'SiseCoreBundle') }}</a></li>
            </ul>
        </li>
        <li><a href="#">{{ 'gestion du système'|trans({}, 'SiseCoreBundle') }}</a>
            <ul class="subs">
                <li>
                    <a href="{{ path('sise_user_list') }}"> {{ 'La gestion des données des utilisateurs'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li>
                    <a href="{{ path('nomenclature_list') }}"> {{ 'La gestion des données des étiquettes'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
                <li>
                    <a href="{{ path('nomenclaturequestionnairerecensement') }}">{{ 'recensement'|trans({}, 'SiseCoreBundle') }}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="MainPage">

    {% block body %}{% endblock %}
</div>
<br/>
{% block javascripts %}
    <script src="{{ asset('bundles/sisecore/js/jquery-2.1.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sisecore/colorbox/jquery.colorbox-min.js') }}" type="text/javascript"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/sisecore/JQuery-ui/js/jquery-ui-1.10.4.custom.js') }}"></script>
    <script src="{{ asset('bundles/sisecore/js/bootstrap-3.2.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sisecore/js/bootstrap-multiselect.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sisecore/js/jquery.mask.min') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
    <script src="{{ asset('bundles/sisecore/js/items.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/siseuser/js/users.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sisecore/js/script.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sisecore/js/calcul_sise.1.0.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sisecore/js/nomenclature.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sisecore/excellentexport/excellentexport.min.js') }}" type="text/javascript"></script>


{% endblock %}
{% block CPHScript %}{% endblock %}

{#


<footer id="colophon" class="app-footer" role="contentinfo">
    <div class="app-info">
        <a href="http://prodit.net/" title="powered by prodit   2015">powered by prodit  2015</a>
    </div><!-- .site-info -->
</footer>
#}
</body>
</html>