{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EffectiveenseignentTypetravail</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Codeetab</th>
                <td>{{ entity.codeetab }}</td>
            </tr>
            <tr>
                <th>Codetypeetab</th>
                <td>{{ entity.codetypeetab }}</td>
            </tr>
            <tr>
                <th>Annescol</th>
                <td>{{ entity.annescol }}</td>
            </tr>
            <tr>
                <th>Nombensemasc</th>
                <td>{{ entity.nombensemasc }}</td>
            </tr>
            <tr>
                <th>Nombensefemi</th>
                <td>{{ entity.nombensefemi }}</td>
            </tr>
            <tr>
                <th>Nombtotaense</th>
                <td>{{ entity.nombtotaense }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('effectiveenseignenttypetravail') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('effectiveenseignenttypetravail_edit', { 'id': entity.codeetab }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
