{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NomenclatureQuestionnairerecensement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Annescol</th>
                <td>{{ entity.annescol }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ entity.etat }}</td>
            </tr>
            <tr>
                <th>Etatdireregi</th>
                <td>{{ entity.etatdireregi }}</td>
            </tr>
            <tr>
                <th>Etatdirecent</th>
                <td>{{ entity.etatdirecent }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('nomenclaturequestionnairerecensement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('nomenclaturequestionnairerecensement_edit', { 'id': entity.annescol }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
