{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EffectifeleveListeeleveemmenagerdesonetablissement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Codeetab</th>
                <td>{{ entity.codeetab }}</td>
            </tr>
            <tr>
                <th>Codetypeetab</th>
                <td>{{ entity.codetypeetab }}</td>
            </tr>
            <tr>
                <th>Annescol</th>
                <td>{{ entity.annescol }}</td>
            </tr>
            <tr>
                <th>Numeelev</th>
                <td>{{ entity.numeelev }}</td>
            </tr>
            <tr>
                <th>Nomprenelev</th>
                <td>{{ entity.nomprenelev }}</td>
            </tr>
            <tr>
                <th>Codenivescol</th>
                <td>{{ entity.codenivescol }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('effectifelevelisteeleveemmenagerdesonetablissement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('effectifelevelisteeleveemmenagerdesonetablissement_edit', { 'id': entity.codeetab }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
