{% extends '::base.html.twig' %}

{% block body %}
    <style>
        table > thead tr th {
            border: 1px solid #ffffff;
            text-align: center;
            width: 10%;
            background-color: #4F81BD;
        }
        strong >  span
        {
            font-size: 12pt;
            color: #fff;
            background-color: #4F81BD
        }
        table > tbody tr td     {
            border-bottom: black 1px solid;
            width: 10%;
            font: 12pt verdana;
            vertical-align: top
        }
    </style>
 <span style="font-size: 1em; font-weight: 700">تطور معطيات السنة التحضيرية بالقطاع العمومي</span>
    <table style="border: 0px; font: 8pt verdana; width: 100%" dir="rtl">
        <thead>
        <tr>
            <th></th>
            <th colspan="3"> <strong><span>
                المدارس
            </span></strong> </th>
            <th></th>
            <th colspan="2"><strong><span>
                الأطفال المرسمين
         </span></strong>   </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr><th>
                <strong><span>
                                             السنة الدراسية
                                        </span></strong>
            </th>
            <th>
                <strong><span>
                                            الجملة</span></strong>
            </th>
            <th  >
                <strong><span>
                                            عدد المدارس بمناطق غير بلدية</span></strong>
            </th>
            <th  >
                <strong><span>
                                             نسبة المدارس بمناطق غير بلدية</span></strong>
            </th>
            <th  >
                <strong><span>
                                            الأفواج</span></strong>
            </th>
            <th  >
                <strong><span>
                                            جملة</span></strong>
            </th>
            <th  >
                <strong><span>
                                            منهم اناث</span></strong>
            </th>
            <th  >
                <strong><span>
                                            المربون</span></strong>
            </th>
            <th  >
                <strong><span>
                                            متوسط كثافة الفوج</span></strong>
            </th>
            <th  >
                <strong><span  >
                                            نسبة الاناث</span></strong>
            </th>
        </tr></thead>
        <tbody>
    {% for key, entity in entities %}
        <tr>
  <td> {{ entity['AnneScol'] }}</td>
  <td> {{ entity['TotaEtab'] }}</td>
  <td>  {{ entity['TotaEtabRura'] }}</td>
  <td>  {{ entity['TotaGrou'] }}</td>
  <td>  {{ entity['TotaElev'] }}</td>
  <td>  {{ entity['TotaElevFemi'] }}</td>
  <td>  {{ entity['TotaEnse'] }}</td>
  <td>  {{ entity['PourEtabRura'] }}</td>
  <td>  {{ entity['DensGrou'] }}</td>
  <td>   {{ entity['PourFemi'] }}</td>
        </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}
