{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveenseignentgradeheuretravail' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}

    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">


                <div>
                    <form action="{{ pathUpdate }}" method="post" class="well form-search" id="id_with_js">
                        <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                               style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                            <thead>
                            <tr>
                                <td align="center" colspan="1"
                                    style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                                <td align="center" colspan="1"
                                    style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                                <td align="center" colspan="2"
                                    style="color:White;background-color:#4F81BD;font-weight:bold;">عدد
                                    المدرسين
                                </td>
                                <td align="center" colspan="1"
                                    style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                            </tr>
                            <tr>
                                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">ساعات
                                    التدريس
                                </th>
                                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">الرتبة</th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">الجملة</th>
                            </tr>
                            <tr>
                            </thead>
                            <tbody>
                            {% for entityHeurensei in entitiesHeurensei %}
                                <tr>
                                {% set codeHeurenseiprec='' %}
                                {% for key, entity in entities %}
                                    <input type="hidden" name="val_{{ key }}"
                                           value="{{ entity.codeetab }}|{{ entity.codetypeetab }}|{{ entity.annescol }}|{{ entity.coderece }}|{{ entity.codeheurense.codeheurense }}|{{ entity.codegrad.codegrad }}">
                                    <input type="hidden" name="key_{{ key }}"
                                           value="codeetab|codetypeetab|annescol|coderece|codeheurense|codegrad">
                                    {% if entity.codeheurense.codeheurense == entityHeurensei.codeheurense %}
                                        <tr>

                                            {% if codeHeurenseiprec!=entity.codeheurense.codeheurense %}
                                                {% set  codeHeurenseiprec=entity.codeheurense.codeheurense %}
                                                {% set rowspan= 0 %}
                                                {% for key, entity2 in entities %}
                                                    {% if entity2.codeheurense.codeheurense==codeHeurenseiprec %}
                                                        {% set rowspan=rowspan+ 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                                <td rowspan="{{ rowspan }}"> {{ entityHeurensei.libeheurensear }}</td>
                                            {% endif %}
                                            <td>{{ entity.codegrad.libegradar }}</td>
                                            <td align="right" style="background-color: #EFF3FB">
                                                <input type="text" name="nombensemasc{{ key }}"
                                                       value="{{ entity.nombensemasc }} "
                                                       id="nombensemasc{{ key }}">
                                            </td>
                                            <td align="right" style="background-color: #EFF3FB">
                                                <input type="text" name="nombensefemi{{ key }}"
                                                       value="{{ entity.nombensefemi }} "
                                                       id="nombensefemi{{ key }}">
                                            </td>
                                            <td>{{ entity.nombtotaense }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </center>
    {% endif %}
{% endblock %}
