{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' :'قائمة اسمية في التلاميذ المنفصلين تلقائيا أو قانونيا قبل إنعقاد مجالس الأقسام', 'RouteAction' : 'mouvementelevelisteelevessepareavantconseilclasse' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <br>
    {% if entities is defined  and entities|length > 0 %}
        <table cellspacing="0" rules="all" border="1" id="CPHMain_GridView_Browse"
               style="width:100%;border-collapse:collapse;">
            <tbody>
            <tr>
                <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                <td align="center" colspan="2" style="color:White;background-color:#4F81BD;font-weight:bold;">النوع</td>
                <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                <td align="center" colspan="2" style="color:White;background-color:#4F81BD;font-weight:bold;">
                    الملاحظات
                </td>
            </tr>
            <tr>
                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">ع/ ر</th>
                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">الإسم واللقب</th>
                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">المستوى الدراسي</th>
                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">الشعبة</th>
                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">تاريخ الإنفصال</th>
                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">مفصول تلقائيا</th>
                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">مفصول قانونا</th>
            </tr>
            {% for key, entity in entities %}
                <tr>
                    <td>{{ entity.numeleve }}</td>
                    <td>{{ entity.nomprenelev }}</td>
                    <td>
                        {#{% if entity.codegenr = 'M' %}#}
                        <input type="checkbox" {{ entity.codegenr.codegenr == 'M' ? 'checked="checked"' :'' }}
                               disabled="disabled">
                    </td>
                    <td>
                        <input type="checkbox" {{ entity.codegenr.codegenr == 'F' ? 'checked="checked"' :'' }}
                               disabled="disabled">
                        {#{% endif %}#}
                    </td>
                    <td>{{ entity.codenivescol.libenivescolar }}</td>
                    <td>{{ entity.codefili.libefiliar }}</td>
                    <td>{{ entity.datesepa }}</td>
                    <td>
                        {#{% if entity.codegenr = 'M' %}#}
                        <input type="checkbox" {{ entity.codetypesepa.codetypesepa == '0' ? 'checked="checked"' :'' }}
                               disabled="disabled">
                    </td>
                    <td>
                        <input type="checkbox" {{ entity.codetypesepa.codetypesepa == '1' ? 'checked="checked"' :'' }}
                               disabled="disabled">
                        {#{% endif %}#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
