{% extends '::base.html.twig' %}

{% block body -%}

<form action="{{ path('nomenclaturecycleenseignement_update', {  'id': entity.codecyclense}) }}"
      method="post" {{ form_enctype(edit_form) }}>
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'Edit', 'TitleContextValue' : 'مراحل التعليم', 'RouteAction' : 'nomenclaturecycleenseignement' })) }}
<br>
    <input type="hidden" name="_method" value="PUT"/>
    <fieldset style="font-size:14pt; padding-top:10px; padding-right:10px; background-color :#EEEEEE; border-color:#EEEEEE; border-style :none; ">

        <div>
            <div>
                <span style="display:inline-block;height:28px;width:20%;">الرمز</span>
               <span style="display:inline-block;height:28px;width:20%;"> {{ form_widget(edit_form.codecyclense,{ 'attr': {'style':'background-color:#EEEEEE;', 'readonly':'readonly' }}) }}</span>
            </div>
        </div>
        <div>
            <span id="CPHMain_Label2" style="display:inline-block;height:28px;width:20%;">الوصف بالعربية</span>
            <span>{{ form_widget(edit_form.libecyclensear) }}</span>
        </div>
        <div>
            <span id="CPHMain_Label3" style="display:inline-block;height:28px;width:20%;">الوصف بالفرنسية</span>
          <span>  {{ form_widget(edit_form.libecyclensefr) }}</span>
        </div>
        <div>
            <span id="CPHMain_Label5" style="display:inline-block;height:28px;width:20%;">ترتىب العرض</span>
           <span> {{ form_widget(edit_form.ordraffi) }}</span>
        </div>
        <div>
            <span id="CPHMain_Label6" style="display:inline-block;height:28px;width:20%;">تفعيل التسمية</span>
            <span>{{ form_widget(edit_form.acti) }}</span>
        </div>
    </fieldset>
    {{ form_rest(edit_form) }}
</form>
{% endblock %}
