{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'List', 'TitleContextValue' : 'مراحل التعليم', 'RouteAction' : 'nomenclaturecycleenseignement' })) }}
    <br>
    <table class="records_list">
        <thead>
        <tr style="color:White;background-color:#507CD1;font-weight:bold;">
            <th scope="col">الرمز</th>
            <th scope="col">الوصف بالعربية</th>
            <th scope="col">الوصف بالفرنسية</th>
            <th scope="col">ترتىب العرض</th>
            <th scope="col">تفعيل التسمية</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <a href="{{ path('nomenclaturecycleenseignement_edit', { 'id': entity.codecyclense }) }}">{{ entity.codecyclense }}</a>
                </td>
                <td>{{ entity.libecyclensear }}</td>
                <td>{{ entity.libecyclensefr }}</td>
                <td>{{ entity.ordraffi }}</td>
                <td>{{ entity.acti }}</td>
                {#{ entity.codegenr.codegenr == 'M' ? 'checked="checked"' :'' }#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nomenclaturecycleenseignement_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
