{% extends '::base.html.twig' %}

{% block body -%}

    <form action="{{ path('nomenclaturecycleenseignement_create') }}"
          method="post" {{ form_enctype(form) }}>
        {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'New', 'TitleContextValue' : 'مراحل التعليم', 'RouteAction' : 'nomenclaturecycleenseignement' })) }}
        <br>
        <fieldset style="font-size:14pt; padding-top:10px; padding-right:10px; background-color :#EEEEEE; border-color:#EEEEEE; border-style :none; ">

            <div>
                <div>
                    <span style="display:inline-block;height:28px;width:20%;">الرمز</span>
                    <span style="display:inline-block;height:28px;width:20%;"> {{ form_widget(form.codecyclense) }}</span>
                </div>
            </div>
            <div>
                <span id="CPHMain_Label2" style="display:inline-block;height:28px;width:20%;">الوصف بالعربية</span>
                <span>{{ form_widget(form.libecyclensear) }}</span>
            </div>
            <div>
                <span id="CPHMain_Label3" style="display:inline-block;height:28px;width:20%;">الوصف بالفرنسية</span>
                <span>  {{ form_widget(form.libecyclensefr) }}</span>
            </div>
            <div>
                <span id="CPHMain_Label5" style="display:inline-block;height:28px;width:20%;">ترتىب العرض</span>
                <span> {{ form_widget(form.ordraffi) }}</span>
            </div>
            <div>
                <span id="CPHMain_Label6" style="display:inline-block;height:28px;width:20%;">تفعيل التسمية</span>
                <span>{{ form_widget(form.acti) }}</span>
                {#{ entity.codegenr.codegenr == 'M' ? 'checked="checked"' :'' }#}
            </div>
        </fieldset>
        {{ form_rest(form) }}
    </form>
{% endblock %}
