{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' : 'قائمة اسمية في التلاميذ المنتقلين إلى مؤسسات أخرى', 'RouteAction' : 'effectifelevelisteelevedeplacerversautreetablissement' })) }}

    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <table style="font: 8pt verdana; width: 100%" dir="rtl">
        <tbody>
        <tr>
            <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 3%; background-color:#4F81BD">
                <strong> <span style="font-size: 12pt; color: #fff; background-color:#4F81BD ">
                                        ع/ ر
                                        </span></strong>
            </th>
            <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 17%; background-color:#4F81BD">
                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        الإسم واللقب
                                        </span></strong>
            </th>
            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        النوع
                                        </span></strong>
            </th>
            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        المستوى الدراسي
                                        </span></strong>
            </th>
            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        الشعبة
                                        </span></strong>
            </th>
            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        نوع المؤسسة
                                        </span></strong>
            </th>
            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        المؤسسة
                                        </span></strong>
            </th>
            <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 5%; background-color:#4F81BD">
                <strong> <span style="font-size: 12pt; color: #fff; background-color:#4F81BD ">

                                        </span></strong>
            </th>
        </tr>
        </tbody>
    </table>

    {#{{ form(edit_form) }}#}
    {% if entities is defined  and entities|length > 0 %}
        {% for key, entity in entities %}
            <form action="{{ pathUpdate }}" method="post" class="well form-search">
                {#{{ entity.codetypeetab }}#}
                {#{{ entity.annescol }}#}
                {#{{ entity.numeelev }}#}
                {#{{ entity.nomprenelev }}#}
                {#{{ entity.codenivescol }}#}
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}
