{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NomenclatureParametrespindicateur list</h1>

    <table class="records_list" id="CPHMain_GridView_Browse">
        <thead>
            <tr>
                <th>Codeparaindi</th>
                <th>Nompara</th>
                <th>Valepara</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('nomenclatureparametrespindicateur_show', { 'id': entity.codeparaindi }) }}">{{ entity.codeparaindi }}</a></td>
                <td>{{ entity.nompara }}</td>
                <td>{{ entity.valepara }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('nomenclatureparametrespindicateur_show', { 'id': entity.codeparaindi }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('nomenclatureparametrespindicateur_edit', { 'id': entity.codeparaindi }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('nomenclatureparametrespindicateur_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
