{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'infrastructuretypecategorieespace' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}

    <center>
        <div style="display: none">
            <a href="{{ path("statElev", {"codepack":"StatEquipement"}) }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
        </div>
        <br>
        {% if entities is defined  and entities|length > 0 %}
        <div id="CPHMain_upGridView">

            <div>
                <form action="{{ pathUpdate }}" method="post" class="well form-search" id="id_with_js">
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <td class="headerCellfusion" align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">صنف فضاء</th>
                            <td class="headerCellfusion" align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">نوع فضاء</th>
                            <td class="headerCellWithoutfusion" align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">مستغلّة
                            </td>
                            <td class="headerCellWithoutfusion" align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">غير مستغلّة
                            </td>
                            <td class="headerCellWithoutfusion" align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">بصدد التهيئة
                            </td>
                            <td class="headerCellWithoutfusion" align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">بصدد البناء
                            </td>
                            <td class="headerCellfusion" align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">{{'observation'|trans()}}</td>
                        </tr>
                        {% set codecateespa = 0 %}
                        {% for key , entity in entities %}
                            <tr>
                                {% if(codecateespa==entity.codetypeespa.codecateespa.codecateespa) %}
                                {% else %}
                                    <td rowspan="{{ entity.codetypeespa.codecateespa.codetypeespa|length }}"
                                        style="background: #ffffff">
                                        {{ entity.codetypeespa.codecateespa.libecateespaar }}
                                    </td>
                                {% endif %}
                                {% set  codecateespa =  entity.codetypeespa.codecateespa.codecateespa %}

                                <td>{{ entity.codetypeespa.libetypeespaar }}

                                    <input type="hidden" name="val_{{ key }}"
                                           value="{{ entity.codeetab }}|{{ entity.codetypeetab }}|{{ entity.annescol }}|{{ entity.coderece }}|{{ entity.codetypeespa.codetypeespa }}"/>

                                    <input type="hidden" name="key_{{ key }}"
                                           value="codeetab|codetypeetab|annescol|coderece|codetypeespa"/>


                                </td>

                                <td align="right">
                                    <input name="nombespautil{{ key }}" type="text"
                                           value="{{ entity.nombespautil }}" id="nombespautil{{ key }}"
                                           onchange="javascript:txtChanged(this);">
                                </td>

                                <td align="right">
                                    <input name="nombespanonutil{{ key }}" type="text"
                                           value="{{ entity.nombespanonutil }}" id="nombespanonutil{{ key }}"
                                           onchange="javascript:txtChanged(this);">
                                </td>

                                <td align="right">
                                    <input name="nombespaencoamen{{ key }}" type="text"
                                           value="{{ entity.nombespaencoamen }}" id="nombespaencoamen{{ key }}"
                                           onchange="javascript:txtChanged(this);">
                                </td>

                                <td align="right">
                                    <input name="nombespaencocons{{ key }}" type="text"
                                           value="{{ entity.nombespaencocons }}" id="nombespaencocons{{ key }}"
                                           onchange="javascript:txtChanged(this);">
                                </td>

                                <td align="right">
                                    <input name="obse{{ key }}" type="text"
                                           value="{{ entity.obse }}" id="obse{{ key }}"
                                           onchange="javascript:txtChanged(this);">
                                </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>

        </div>

        {% endif %}
    </center>

{% endblock %}
