{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' : 'effective eleve demi residant', 'RouteAction' : 'infrastructuretypecategorieespace' })) }}

    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter, 'features' : features}) }}

    {% if entities is defined  and entities|length > 0%}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <div>
                    <form action="{{ pathUpdate }}" method="post"  class="well form-search">
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Edit"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <td align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;"></td>
                            <td align="center" colspan="3"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;">
                                أنصاف المقيمين
                            </td>
                            <td align="center" colspan="3"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;">
                                الممنوحون
                            </td>
                            <td align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;"></td>
                        </tr>
                        <tr>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">المرحلة</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">الجملة</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">الجملة</th>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">عدد المنح</th>
                        </tr>


                        {% for key, entity in entities %}
                            <tr>
                                <td align="center">
                                <span id="CPHMain_GridView_Edit_LibeCyclEnse_{{ key }}" class="#Niveau Scolaire"
                                      style="display:inline-block;width:98%;"> {{ entity.codecyclense.libecyclensear }}</span>

                                    <input type="hidden" name="val_{{ key }}" value="{{ entity.codeetab }}_{{ entity.codetypeetab }}_{{ entity.annescol }}_{{ entity.coderece }}"/>


                                    <input type="hidden" name="key_{{ key }}" value="codeetab_codetypeetab_annescol_coderece"/>




                                </td>
                                <td align="right">
                                    <div id="CPHMain_GridView_Edit_nemn_{{ key }}">

                                    <span id="CPHMain_GridView_Edit_RVNombElevResiMasc_{{ key }}" class="tooltips"
                                          style="visibility:hidden;">يجب أن يكون هذا الحقل عدد صحيح</span>
                                        <input name="sise_bundle_corebundle_effectifelevedemiresidant_nombelevresimasc_{{ key }}"
                                               type="text"
                                               value="{{ entity.nombelevresimasc }}"
                                               id="sise_bundle_corebundle_effectifelevedemiresidant_nombelevresimasc_{{ key }}"
                                               onchange="javascript:txtChanged(this);"
                                               style="border-style:None;width:98%;">

                                    </div>
                                </td>
                                <td align="left">
                                    <div id="CPHMain_GridView_Edit_nefn_{{ key }}">

                                    <span id="CPHMain_GridView_Edit_RVNombElevResiFemi_{{ key }}" class="tooltips"
                                          style="visibility:hidden;">يجب أن يكون هذا الحقل عدد صحيح</span>
                                        <input name="sise_bundle_corebundle_effectifelevedemiresidant_nombelevresifemi_{{ key }}"
                                               type="text"
                                               value="{{ entity.nombelevresifemi }}"
                                               id="sise_bundle_corebundle_effectifelevedemiresidant_nombelevresifemi_{{ key }}"
                                               onchange="javascript:txtChanged(this);"
                                               style="border-style:None;width:98%;">

                                    </div>
                                </td>
                                <td align="center" style="background-color:#EEEEEE;">
                                <span id="CPHMain_GridView_Edit_NombTotaResiElev_{{ key }}" class="أنصاف المقيمين"
                                      style="display:inline-block;width:98%;">{{ entity.nombtotaresielev }}</span>
                                    <input name="sise_bundle_corebundle_effectifelevedemiresidant_nombtotaresielev_{{ key }}"
                                           type="hidden"
                                           value="{{ entity.nombtotaresielev }}"
                                           id="sise_bundle_corebundle_effectifelevedemiresidant_nombtotaresielev_{{ key }}">
                                </td>
                                <td align="right">
                                    <div id="CPHMain_GridView_Edit_nemr_{{ key }}">

                                    <span id="CPHMain_GridView_Edit_RVNombElevBourMasc_{{ key }}" class="tooltips"
                                          style="visibility:hidden;">يجب أن يكون هذا الحقل عدد صحيح</span>
                                        <input name="ctl00$CPHMain$GridView_Edit$ctl02$NombElevBourMasc" type="text"
                                               value="{{ entity.nombelevbourmasc }}"
                                               id="CPHMain_GridView_Edit_NombElevBourMasc_{{ key }}"
                                               onchange="javascript:txtChanged(this);"
                                               style="border-style:None;width:98%;">

                                    </div>
                                </td>
                                <td align="left">
                                    <div id="CPHMain_GridView_Edit_nefr_{{ key }}">

                                    <span id="CPHMain_GridView_Edit_RVNombElevBourFemi_{{ key }}" class="tooltips"
                                          style="visibility:hidden;">يجب أن يكون هذا الحقل عدد صحيح</span>
                                        <input name="sise_bundle_corebundle_effectifelevedemiresidant_nombelevbourfemi_{{ key }}"
                                               type="text"
                                               value="{{ entity.nombelevbourfemi }}"
                                               id="sise_bundle_corebundle_effectifelevedemiresidant_nombelevbourfemi_{{ key }}"
                                               onchange="javascript:txtChanged(this);"
                                               style="border-style:None;width:98%;">

                                    </div>
                                </td>
                                <td align="center" style="background-color:#EEEEEE;">
                                <span id="CPHMain_GridView_Edit_NombTotaBourElev_{{ key }}" class="الممنوحون"
                                      style="display:inline-block;width:98%;">{{ entity.nombtotabourelev }}</span>
                                </td>
                                <td align="right">
                                    <input name="sise_bundle_corebundle_effectifelevedemiresidant_nombtotabourelev_{{ key }}"
                                           type="text" value="{{ entity.nombbour }}"
                                           id="sise_bundle_corebundle_effectifelevedemiresidant_nombtotabourelev_{{ key }}"
                                           class=" "
                                           style="border-style:None;width:30px;">
                                    <span id="CPHMain_GridView_Edit_RVNombBour_{{ key }}" class=" "
                                          style="visibility:hidden;">يجب أن يكون هذا الحقل عدد صحيح</span>

                                </td>
                            </tr>
                        {% endfor %}



                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="8"><input type="submit" value="Envoyer"></td>

                        </tr>

                        </tfoot>
                    </table>
                    </form>
                </div>

            </div>
        </center>
    {% endif %}
{% endblock %}
