{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'infrastructuretypecategorieespace' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}

    <center>

        <div style="display: none">
            <a href="{{ path("statElev", {"codepack":"StatEquipement"}) }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
            <a href="{{ path('infrastructuretypecategorieespace_edit') }}" style="display:inline-block" id="BtnEditer">BtnEditer</a>
        </div>
        <br>
        {% if entities is defined  and entities|length > 0 %}
        <div id="CPHMain_upGridView">


            <div>
                <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                       style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                    <tbody>
                    <tr>
                        <th align="center" scope="col" style="color:White;background-color:#4F81BD;">صنف التجهيزات</th>
                        <th align="center" scope="col" style="color:White;background-color:#4F81BD;">التجهيزات</th>
                        <th align="center" scope="col" style="color:White;background-color:#4F81BD;">قابلة للاستعمال
                        </th>

                        <th align="center" scope="col" style="color:White;background-color:#4F81BD;">بغير قابلة
                            للاستعمال
                        </th>
                        <th align="center" scope="col" style="color:White;background-color:#4F81BD;">{{'observation'|trans()}}</th>
                    </tr>
                    {% set testRepeat = 0 %}
                    {% for key , entity in entities %}
                        <tr>
                            {% if entity.codeequi.codecateequi.codecateequi!=testRepeat %}
                                <td style="background: #ffffff"
                                    rowspan="{{ rowspan[entity.codeequi.codecateequi.codecateequi]|length }}">{{ entity.codeequi.codecateequi.libecateequiar }}</td>
                            {% endif %}
                            {% set testRepeat = entity.codeequi.codecateequi.codecateequi %}
                            <td>{{ entity.codeequi.libeequiar }}</td>
                            <td align="right">{{ entity.nombespautil }}</td>
                            <td align="right">{{ entity.nombespanonutil }}</td>
                            <td align="right">{{ entity.obse }}</td>
                        </tr>
                    {% endfor %}
                    <tr align="center"
                        style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:2px;border-style:Solid;">
                        <td>{{ 'nombtotaelev'|trans() }}:</td>
                        <td>&nbsp;</td>
                        <td>0</td>
                        <td>0</td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
        {% endif %}
    </center>

{% endblock %}
