{% extends '::base.html.twig' %}

{% block body -%}
    <h1>OrientationFilieresport</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Codeetab</th>
            <td>{{ entity.codeetab }}</td>
        </tr>
        <tr>
            <th>Codetypeetab</th>
            <td>{{ entity.codetypeetab }}</td>
        </tr>
        <tr>
            <th>Annescol</th>
            <td>{{ entity.annescol }}</td>
        </tr>
        <tr>
            <th>Anne</th>
            <td>{{ entity.anne }}</td>
        </tr>
        <tr>
            <th>Nombelevmasc</th>
            <td>{{ entity.nombelevmasc }}</td>
        </tr>
        <tr>
            <th>Nombelevfemi</th>
            <td>{{ entity.nombelevfemi }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('orientationfilieresport') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('orientationfilieresport_edit', { 'id': entity.codeetab }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
