{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' :  nameclass.libequesar, 'RouteAction' : 'effectifelevenouveauhuitiemetechnique' })) }}

    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">
                <form action="{{ pathUpdate }}" method="post" class="well form-search" id="id_with_js">

                    <table width="100%">
                        <tbody>
                        <tr style="background-color: #4F81BD; color: White;" align="center">
                            <td colspan="2">
                                موجهون من السابعة أساسي إلى الثامنة تقنــي
                            </td>
                            <td colspan="2">
                                موجهون من الثامنة أساسي إلى الثامنة تقني
                            </td>
                            <td colspan="3">
                                الجملة
                            </td>
                        </tr>


                        <tr style="background-color: #92B3CF; color: White;" align="center">
                            <td>
                                <span id="CPHMain_Label4" style="display:inline-block;width:98%;">ذكر</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label5" style="display:inline-block;width:98%;">أنثى</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label7" style="display:inline-block;width:98%;">ذكر</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label8" style="display:inline-block;width:98%;">أنثى</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label6" style="display:inline-block;width:98%;">ذكر</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label9" style="display:inline-block;width:98%;">أنثى</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label1" style="display:inline-block;width:98%;">جملة</span>
                            </td>
                        </tr>
                        {% for key, entity in entities %}
                            <tr style="background-color: white; color: black;">
                                <td style="text-align: center;">
                                    <input type="hidden" name="val_{{ key }}"
                                           value="{{ entity.codeetab }}|{{ entity.codetypeetab }}|{{ entity.annescol }}|{{ entity.coderece }}"/>
                                    <input type="hidden" name="key_{{ key }}"
                                           value="codeetab|codetypeetab|annescol|coderece"/>


                                    <input name="nombelevmascvenasept{{ key }}" type="text"
                                           value="{{ entity.nombelevmascvenasept }}" id="nombelevmascvenasept{{ key }}"
                                           onchange="javascript:txtChangedTd('nombelevmascvenasept{{ key }}','nombelevfemivenasept{{ key }}', 'nombtotaelevvenasept{{ key }}');">
                                </td>
                                <td style="text-align: center;">


                                    <input name="nombelevfemivenasept{{ key }}" type="text"
                                           value="{{ entity.nombelevfemivenasept }}" id="nombelevfemivenasept{{ key }}"
                                           onchange="javascript:txtChangedTd('nombelevmascvenasept{{ key }}','nombelevfemivenasept{{ key }}', 'nombtotaelevvenasept{{ key }}');">
                                </td>
                                <td style="text-align: center;">


                                    <input name="nombelevmascvenahuit{{ key }}" type="text"
                                           value="{{ entity.nombelevmascvenahuit }}" id="nombelevmascvenahuit{{ key }}"
                                           onchange="javascript:txtChangedTd('nombelevmascvenahuit{{ key }}','nombelevfemivenahuit{{ key }}', 'nombtotaelevvenahuit{{ key }}');">
                                </td>
                                <td style="text-align: center;">
                                    <input name="nombelevfemivenahuit{{ key }}" type="text"
                                           value="{{ entity.nombelevfemivenahuit }}" id="nombelevfemivenahuit{{ key }}"
                                           onchange="javascript:txtChangedTd('nombelevmascvenahuit{{ key }}','nombelevfemivenahuit{{ key }}', 'nombtotaelevvenahuit{{ key }}');">
                                </td>
                                <td style="background-color:#EEEEEE;  text-align: center;" id="nombtotaelevvenasept{{ key }}">
                                    {{ entity.nombtotaelevvenasept }}
                                </td>
                                <td style="background-color:#EEEEEE;  text-align: center;" id="nombtotaelevvenahuit{{ key }}">
                                    {{ entity.nombtotaelevvenahuit }}
                                </td>
                                <td style="background-color:#EEEEEE;  text-align: center;">
                                    {{ entity.nombtotaelevvenasept + entity.nombtotaelevvenahuit }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </form>
            </div>
        </center>
    {% endif %}
{% endblock %}
