{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectifelevelisteeleveexeclus' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <div style="display: none">
        <a href="{{ path("statElev", {"codepack":"StatElev"}) }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
    </div>
    {% if editForms is defined  and editForms|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_UP">
                <div>
                    <form action="{{ pathUpdate }}" method="post" class="well form-search" id="id_with_js">
                        <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                               style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                            <tbody>
                            <tr>
                                <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 3%; background-color:#4F81BD"><strong> <span style="font-size: 12pt; color: #fff; background-color:#4F81BD ">{{ 'nombreordinal'|trans() }}</span></strong></th>
                                <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 17%; background-color:#4F81BD"><strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">{{ 'Nomprenutil'|trans() }}</span></strong></th>
                                <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD"><strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">{{ 'Genre'|trans() }}</span></strong></th>
                                <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD"><strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD"> {{ 'niveauscolaire'|trans() }}</span></strong></th>
                                <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD"> <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">{{ 'Filiere'|trans() }}</span></strong></th>
                                <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD"><strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">{{ 'TypeEtablissement'|trans() }} </span></strong></th>
                                <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD"><strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">{{ 'Etablissement'|trans() }}</span></strong></th><th style="border-bottom: 1px solid #3768BC; text-align: right; width: 5%; background-color:#4F81BD">
                                    <strong> <span style="font-size: 12pt; color: #fff; background-color:#4F81BD ">
      <a class="add_items" style="display: inline-block"
         rel="effectifelevelisteeleveemmenagerdesonetablissement_form">
          <img name="sise_add_line" id="sise_add_line" src="/bundles/sisecore/images/16x16/add_16.png">

      </a>
                                        </span></strong>
                                </th>
                            </tr>
                            {% for  form in editForms %}
                                <tr>
                                    <td>
                                        {{ form.vars.name }}
                                    </td>
                                    <td align="right">{{ form_widget(form.nomprenelev) }}</td>
                                    <td align="right">{{ form_widget(form.codegenr) }}</td>
                                    <td align="right">{{ form_widget(form.codenivescol) }}</td>
                                    <td>{{ form_widget(form.codefili) }}</td>
                                    <td align="right">{{ form_widget(form.codetypeetabautr) }}</td>
                                    <td align="right">{{ form_widget(form.codeetabautr) }}</td>


                                    <td style="border-bottom: black 1px solid; width: 5%;  vertical-align:top">
                                        <a rel="effectifelevelisteeleveemmenagerdesonetablissement_deleteItem" class="delete_handicaps"
                                           style="display: inline-block">
                                            <img name="sise_delete_line" id="sise_delete_line"
                                                 src="/bundles/sisecore/images/16x16/cancel_16.png">
                                        </a>
                                    </td>

                                </tr>


                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>


            </div>
        </center>
    {% endif %}

{% endblock %}
