{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveeleveelevereussiseptiemannee' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    {% if entity is defined  and entity|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <div>
                    <form action="{{ pathUpdate }}" method="post" class="well form-search" id="id_with_js">
                        <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                               style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                            <thead>

                            <tr>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكور</th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">إناث</th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">جملة</th>

                            </tr>

                            </thead>
                            <tbody>

                            <tr>

                                <td align="right">
                                    <input type="text" name="nombelevmasc" value="{{ entity.nombelevmasc }}"
                                           id="nombelevmasc"
                                           onchange="javascript:txtChanged('nombelevmascv','nombelevfemi', 'nombtotaelev' );">
                                </td>
                                <td align="right">
                                    <input type="text" name="nombelevfemi" value="{{ entity.nombelevfemi }}"
                                           id="nombelevfeminouv"
                                           onchange="javascript:txtChanged('nombelevfemi','nombelevmasc', 'nombtotaelev' );">
                                </td>
                                <td align="right">
                                    <input type="text" name="nombtotaelev" value="{{ entity.nombtotaelev }}" id="nombtotaelev">
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </center>
    {% endif %}

{% endblock %}
