{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectifeleveresidantboursiercycleenseignement' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}

    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <div>
                    <form action="{{ pathUpdate }}" method="post" class="well form-search" id="id_with_js">
                        <table cellspacing="0" rules="all" id="CPHMain_GridView_Edit"
                               style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                            <tbody>
                            <tr>
                                <td align="center" colspan="1"
                                    style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                                <td align="center" colspan="3"
                                    style="color:White;background-color:#4F81BD;font-weight:bold;">المقيمين
                                </td>
                                <td align="center" colspan="3"
                                    style="color:White;background-color:#4F81BD;font-weight:bold;">الممنوحون
                                </td>
                                <td align="center" colspan="1"
                                    style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                            </tr>
                            <tr>
                                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">المرحلة
                                </th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">الجملة</th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">الجملة</th>
                                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">عدد المنح
                                </th>
                            </tr>


                            {% for key, entity in entities %}
                                <tr>
                                    <td align="center">
                                        {{ entity.codecyclense.libecyclensear }}

                                        <input type="hidden" name="val_{{ key }}"
                                               value="{{ entity.codeetab }}|{{ entity.codetypeetab }}|{{ entity.annescol }}|{{ entity.coderece }}|{{ entity.codecyclense.codecyclense }}"/>


                                        <input type="hidden" name="key_{{ key }}"
                                               value="codeetab|codetypeetab|annescol|coderece|codecyclense"/>
                                    </td>
                                    <td align="right">
                                        <input name="nombelevresimasc{{ key }}" type="text"
                                               value="{{ entity.nombelevresimasc }}" id="nombelevresimasc{{ key }}"
                                               onchange="javascript:txtChanged(this);">
                                    </td>
                                    <td align="left">
                                        <input name="nombelevresifemi{{ key }}" type="text"
                                               value="{{ entity.nombelevresifemi }}" id="nombelevresifemi{{ key }}"
                                               onchange="javascript:txtChanged(this);">
                                    </td>
                                    <td align="center" style="background-color:#EEEEEE;">
                                        <input name="nombtotaresielev{{ key }}" type="hidden"
                                               value="{{ entity.nombtotaresielev }}" id="nombtotaresielev{{ key }}">
                                    </td>
                                    <td align="right">
                                        <input name="nombelevbourmasc{{ key }}" type="text" value="{{ entity.nombelevbourmasc }}"
                                               id="nombelevbourmasc{{ key }}"
                                               onchange="javascript:txtChanged(this);">
                                    </td>
                                    <td align="left">

                                        <input name="nombelevbourfemi{{ key }}" type="text"
                                               value="{{ entity.nombelevbourfemi }}" id="nombelevbourfemi{{ key }}"
                                               onchange="javascript:txtChanged(this);">

                                    </td>
                                    <td align="center" style="background-color:#EEEEEE;">
                                        {{ entity.nombtotabourelev }}
                                    </td>
                                    <td align="right">
                                        <input name="nombbour{{ key }}" type="text" value="{{ entity.nombbour }}"
                                               id="nombbour{{ key }}" class=" ">
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
        </center>
    {% endif %}
{% endblock %}
