{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' :  nameclass.libequesar, 'RouteAction' : 'effectifelevenouveauhuitiemetechnique' })) }}

    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <div style="display: none">
        <a href="{{ path("statElev", {"codepack":"StatElev"}) }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
    </div>
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">
                <form action="{{ pathUpdate }}" method="post" class="well form-search" id="id_with_js">

                    <table width="100%">
                        <tbody>
                        <tr style="background-color: #4F81BD; color: White;" align="center">
                            <td colspan="3">{{ 'nombelevvenasepttechnique'|trans() }}
                            </td>
                            <td colspan="3">
                                {{ 'nombelevvenahuittechnique'|trans() }}
                            </td>
                            <td colspan="1">
                                {{ 'nombtotaelev'|trans() }}
                            </td>
                        </tr>


                        <tr style="background-color: #92B3CF; color: White;" align="center">
                            <td>
                                <span id="CPHMain_Label4">{{ 'nombelevmasc'|trans() }}</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label5">{{ 'nombelevfemi'|trans() }}</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label1">{{ 'nombtotaelev'|trans() }}</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label8">{{ 'nombelevfemi'|trans() }}</span>
                            </td>
                            <td>
                                <span id="CPHMai_label6">{{ 'nombelevmasc'|trans() }}</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label1">{{ 'nombtotaelev'|trans() }}</span>
                            </td>
                            <td>
                                <span id="CPHMain_Label1">{{ 'nombtotaelev'|trans() }}</span>
                            </td>
                        </tr>
                        {% for key, entity in entities %}
                            <tr style="background-color: white; color: black;">
                                <td style="text-align: center;">
                                    <input type="hidden" name="val_{{ key }}"
                                           value="{{ entity.codeetab }}|{{ entity.codetypeetab }}|{{ entity.annescol }}|{{ entity.coderece }}"/>
                                    <input type="hidden" name="key_{{ key }}"
                                           value="codeetab|codetypeetab|annescol|coderece"/>


                                    <input name="nombelevmascvenasept{{ key }}" type="text"
                                           value="{{ entity.nombelevmascvenasept }}" id="nombelevmascvenasept{{ key }}"
                                           onchange="
                                                   javascript:txtChangedTd('nombelevmascvenasept{{ key }}','nombelevfemivenasept{{ key }}', 'nombtotaelevvenasept{{ key }}');
                                                   javascript:txtChangedTdTd('nombtotaelevvenasept{{ key }}','nombtotaelevvenahuit{{ key }}', 'nombtotaelev{{ key }}');
                                                   ">
                                </td>
                                <td style="text-align: center;">


                                    <input name="nombelevfemivenasept{{ key }}" type="text"
                                           value="{{ entity.nombelevfemivenasept }}" id="nombelevfemivenasept{{ key }}"
                                           onchange="
                                                   javascript:txtChangedTd('nombelevfemivenasept{{ key }}', 'nombelevmascvenasept{{ key }}','nombtotaelevvenasept{{ key }}');
                                                   javascript:txtChangedTdTd('nombtotaelevvenasept{{ key }}','nombtotaelevvenahuit{{ key }}', 'nombtotaelev{{ key }}');
                                                   ">
                                </td>

                                <td style="background-color:#EEEEEE;  text-align: center;"
                                    id="nombtotaelevvenasept{{ key }}">
                                    {{ entity.nombtotaelevvenasept }}
                                </td>
                                <td style="text-align: center;">


                                    <input name="nombelevmascvenahuit{{ key }}" type="text"
                                           value="{{ entity.nombelevmascvenahuit }}" id="nombelevmascvenahuit{{ key }}"
                                           onchange="
                                                   javascript:txtChangedTd('nombelevmascvenahuit{{ key }}','nombelevfemivenahuit{{ key }}', 'nombtotaelevvenahuit{{ key }}');
                                                   javascript:txtChangedTdTd('nombtotaelevvenasept{{ key }}','nombtotaelevvenahuit{{ key }}', 'nombtotaelev{{ key }}');

                                                   ">
                                </td>
                                <td style="text-align: center;">
                                    <input name="nombelevfemivenahuit{{ key }}" type="text"
                                           value="{{ entity.nombelevfemivenahuit }}" id="nombelevfemivenahuit{{ key }}"
                                           onchange="
                                                   javascript:txtChangedTd('nombelevfemivenahuit{{ key }}', 'nombelevmascvenahuit{{ key }}','nombtotaelevvenahuit{{ key }}');
                                                   javascript:txtChangedTdTd('nombtotaelevvenasept{{ key }}','nombtotaelevvenahuit{{ key }}', 'nombtotaelev{{ key }}');
                                                   ">
                                </td>

                                <td style="background-color:#EEEEEE;  text-align: center;"
                                    id="nombtotaelevvenahuit{{ key }}">
                                    {{ entity.nombtotaelevvenahuit }}
                                </td>
                                <td style="background-color:#EEEEEE;  text-align: center;" id="nombtotaelev{{ key }}">
                                    {{ entity.nombtotaelevvenasept + entity.nombtotaelevvenahuit }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </form>
            </div>
        </center>
    {% endif %}
{% endblock %}
