{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectifeleveelevedomainsousdomain' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}

    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <div>

                    <form action="{{ pathUpdate }}" method="post" class="well form-search" id="id_with_js">
                        <table cellspacing="0"
                               style="border-color:#4F81BD;border-width:1px;border-style:Solid;width:100%;border-collapse:collapse;"
                               id="CPHMain_GridView_Browse" rules="all">
                            <tbody>
                            <tr>
                                <td align="center"
                                    style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:2px;border-style:Solid;font-weight:bold;"
                                    colspan="2"></td>
                                <td align="center"
                                    style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:2px;border-style:Solid;font-weight:bold;"
                                    colspan="2"></td>
                                <td align="center"
                                    style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:2px;border-style:Solid;font-weight:bold;"
                                    colspan="3">عــدد التـلاميــذ
                                </td>
                            </tr>
                            <tr>
                                <th align="center" style="color:White;background-color:#4F81BD;" scope="col">المجال</th>
                                <th align="center" style="color:White;background-color:#4F81BD;" scope="col">المجال
                                    الفرعي
                                </th>
                                <th align="center" style="color:White;background-color:#4F81BD;" scope="col">عدد الفرق
                                </th>
                                <th align="center" style="color:White;background-color:#4F81BD;" scope="col">عدد
                                    الفصول
                                </th>
                                <th align="center" style="color:White;background-color:#92B3CF;" scope="col">ذكر</th>
                                <th align="center" style="color:White;background-color:#92B3CF;" scope="col">أنثى</th>
                                <th align="center" style="color:White;background-color:#92B3CF;" scope="col">الجملة</th>
                            </tr>
                            {% set testRepeat = 99999 %}
                            {% for key , entity in entities %}
                                <tr>

                                    {% if entity.codesousdoma.codedoma.codedoma!=testRepeat %}
                                        <td style="background: #ffffff"
                                            rowspan="{{ rowspan[entity.codesousdoma.codedoma.codedoma]|length }}">{{ entity.codesousdoma.codedoma.libedomaar }}</td>
                                    {% endif %}
                                    {% set testRepeat = entity.codesousdoma.codedoma.codedoma %}
                                    <td>{{ entity.codesousdoma.libesousdomaar }}


                                        <input type="hidden" name="val_{{ key }}"
                                               value="{{ entity.codeetab }}|{{ entity.codetypeetab }}|{{ entity.annescol }}|{{ entity.coderece }}|{{ entity.codesousdoma.codesousdoma }}"/>
                                        <input type="hidden" name="key_{{ key }}"
                                               value="codeetab|codetypeetab|annescol|coderece|codesousdoma"/>
                                    </td>
                                    <td align="right">
                                        <input name="nombclass{{ key }}" type="text"
                                               value="{{ entity.nombclass }}" id="nombclass{{ key }}"></td>
                                    <td align="right"><input name="nombgrou{{ key }}" type="text"
                                                             value="{{ entity.nombgrou }}" id="nombgrou{{ key }}"
                                                >
                                    </td>
                                    <td align="right"><input name="nombelevmasc{{ key }}" type="text"
                                                             value="{{ entity.nombelevmasc }}"
                                                             id="nombelevmasc{{ key }}"
                                                             onchange="javascript:txtChangedTd('nombelevfemi{{ key }}','nombelevmasc{{ key }}', 'nombtotaelev{{ key }}');">
                                    </td>
                                    <td align="right"><input name="nombelevfemi{{ key }}" type="text"
                                                             value="{{ entity.nombclass }}" id="nombelevfemi{{ key }}"
                                                             onchange="javascript:txtChangedTd('nombelevfemi{{ key }}','nombelevmasc{{ key }}', 'nombtotaelev{{ key }}');">
                                    </td>
                                    <td align="right" id="nombtotaelev{{ key }}">{{ entity.nombtotaelev }} </td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
        </center>
    {% endif %}
{% endblock %}
