{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'EditQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'etablissementactivite' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
 {% if entities is defined  and entities|length > 0 %}
    <center>
        <br>

        <div id="CPHMain_upGridView">


            <div>
                <form action="{{ pathUpdate }}" method="post" class="well form-search" id="id_with_js">
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:1px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <td align="center" colspan="5"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;"></td>
                        </tr>
                        <tr>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">صنف الحدث</th>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">الحدث</th>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">العدد</th>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">{{'observation'|trans()}}</th>
                        </tr>
                        {% set testRepeat = 0 %}
                        {% for key , entity in entities %}
                            <tr>
                                {% if entity.codeacti.codecateacti.codecateacti!=testRepeat %}
                                    <td style="background: #ffffff"
                                        rowspan="{{ rowspan[entity.codeacti.codecateacti.codecateacti]|length }}">{{ entity.codeacti.codecateacti.libecateactiar }}</td>
                                {% endif %}
                                {% set testRepeat = entity.codeacti.codecateacti.codecateacti %}
                                <td>{{ entity.codeacti.libeactiar }}

                                    <input type="hidden" name="val_{{ key }}"
                                           value="{{ entity.codeetab }}|{{ entity.codetypeetab }}|{{ entity.annescol }}|{{ entity.coderece }}|{{ entity.codeacti.codeacti }}"/>
                                    <input type="hidden" name="key_{{ key }}"
                                           value="codeetab|codetypeetab|annescol|coderece|codeacti"/>

                                </td>
                                <td><input name="nombacti{{ key }}" type="text" value="{{ entity.nombacti }}"
                                           id="nombacti{{ key }}"
                                           onchange="javascript:txtChanged(this);"></td>
                                <td><input name="obse{{ key }}" type="text" value="{{ entity.obse }}" id="obse{{ key }}"
                                           onchange="javascript:txtChanged(this);"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>

        </div>
    </center>
{% endif %}

{% endblock %}
