{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectifeleveresultatconcoureducationbase' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                       style="border-color:#4F81BD;border-width:1px;border-style:Solid;width:100%;border-collapse:collapse;">
                    <tbody>
                    <tr>
                        <td align="center" colspan="1"
                            style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;"></td>
                        <td align="center" colspan="3"
                            style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;">
                            متقدمون
                        </td>
                        <td align="center" colspan="3"
                            style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;">
                            ناجحون
                        </td>
                    </tr>
                    <tr>
                        <th align="center" scope="col" style="color:White;background-color:#4F81BD;">المجال</th>
                        <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                        <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                        <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombtotaelev'|trans() }}</th>
                        <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                        <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                        <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombtotaelev'|trans() }}</th>
                    </tr>
                    {% for key , entity in entities %}

                        <tr>
                            <td>{{ entity.codedoma.libedomaar }}</td>
                            <td align="right">{{ entity.nombelevinscmasc }}</td>
                            <td align="right">{{ entity.nombelevinscfemi }}</td>
                            <td align="right">{{ entity.nombtotainscelev }}</td>
                            <td align="right">{{ entity.nombelevreusmasc }}</td>
                            <td align="right">{{ entity.nombelevreusfemi }}</td>
                            <td align="right">{{ entity.nombtotareuselev }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </center>
    {% endif %}

{% endblock %}
