{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectifelevefilierematiere' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <div style="display: none">
        <a href="{{ path("statElev", {"codepack":"StatElev"}) }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
        <a href="{{ path('effectifelevefilierematiere_edit') }}" style="display:inline-block" id="BtnEditer">BtnEditer</a>
    </div>
    <br>

    <div id="CPHMain_upnivescol">
        <form action="{{ pathfilter }}" method="get" {{ form_enctype(form) }} id="form_nivescol">
            <div style="background-color: #EEEEEE; font-size: 14pt; padding: 10px 10px 5px 5px;">
                <span id="CPHMain_lblNiveScol"
                      style="display:inline-block;height:28px;width:10%;">{{'niveauscolaire'|trans()}}</span>
                &nbsp;

                {{ form_widget(form.niveauscolaires) }}

            </div>
        </form>
    </div>

    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">


                <div>
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">{{ 'Filiere'|trans() }}</th>
                            {% for keyclass,  listMat in listMats %}
                            <th class="{{ keyclass }}" align="center" scope="col" style="color:White;background-color:#4F81BD;">{{ listMat }}</th>
                            {% endfor %}
                        </tr>
                        {% for parent,  listFli in listFlis %}
                        <tr>
                        <td style="width:9%;" class="{{ parent }}">{{ listFli }}</td>
                            {% for key,  listMat in listMats %}
                            <td class="{{ key }}_{{parent }}">  {{ entities[parent][key].nombelev}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </center>
    {% endif %}
{% endblock %}
