{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveelevelisteelevehandicap' })) }}

    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}

    <center>
        <br>
        {% if entities is defined  and entities|length > 0 %}
        <div id="CPHMain_UP">


            <div>
                <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                       style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                    <tbody>
                    <tr>
                        <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 3%; background-color:#4F81BD">
                            <strong> <span style="font-size: 12pt; color: #fff; background-color:#4F81BD ">
                                        ع/ ر
                                      </span></strong>
                        </th>
                        <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 17%; background-color:#4F81BD">
                            <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        الإسم واللقب</span></strong>
                        </th>
                        <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                            <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        النوع</span></strong>
                        </th>

                        <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                            <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        سنة الولادة</span></strong>
                        </th>
                        <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                            <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        المستوى الدراسي</span></strong>
                        </th>
                        <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                            <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        الصفة</span></strong>
                        </th>

                        <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                            <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        نوع الإعاقة</span></strong>
                        </th>
                        <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                            <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        درجة الإعاقة</span></strong>
                        </th>

                        <th style="border-bottom: 1px solid #3768BC; text-align: right; width:8%; background-color:#4F81BD">
                            <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        عملية الإدماج</span></strong>
                        </th>
                        <th style="border-bottom: 1px solid #3768BC; text-align: right; width:7%; background-color:#4F81BD">
                            <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        متابع من طرف مركز مختص</span></strong>
                        </th>
                    </tr>
                    {% for entity in entities %}
                    <tr>
                        <td>{{ entity.numeelev }}</td>
                        <td align="right">{{ entity.nompren }}</td>
                        <td align="right">{{ entity.codegenr }}</td>
                        <td align="right">   {{ entity.annenais }}</td>
                        <td> {{ entity.codenivescol }}</td>
                        <td align="right">
                            {% if  entity.redo %}
                                Redoublant
                            {% else %}
                                Nouveau
                            {% endif %}
                        </td>
                        <td align="right">   {{ entity.codetypehand }}</td>
                        <td align="right">   {{ entity.codedegrhand }}</td>
                        <td align="right">
                            {% if  entity.intefaci %}
                                Facile
                            {% else %}
                                Difficile
                            {% endif %}
                          </td>
                        <td align="right">
                            {% if  entity.suivcentspec %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}</td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
        {% endif %}
    </center>

{% endblock %}
