{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveelevenouveauseptiemeannee' })) }}

    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_UP">
                <div>
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 3%; background-color:#4F81BD">

{{ 'nombreordinal'|trans() }}
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 14%; background-color:#4F81BD">
                                <strong> <span
                                            style="font-size: 12pt; color: #fff; background-color:#4F81BD ">{{ 'CirconscriptionRegional'|trans() }}</span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 14%; background-color:#4F81BD">
                                <strong><span
                                            style="font-size: 12pt; color: #fff; background-color:#4F81BD">{{ 'Delegation'|trans() }}</span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:17%; background-color:#4F81BD">
                                <strong><span
                                            style="font-size: 12pt; color: #fff; background-color:#4F81BD">{{ 'codeetabsour'|trans() }}</span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 12%; background-color:#4F81BD">
                                <strong><span
                                            style="font-size: 12pt; color: #fff; background-color:#4F81BD">{{ 'TypeEtablissement'|trans() }} </span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        {{ 'nombelevmasc'|trans() }}</span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        {{ 'nombelevfemi'|trans() }}</span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
                                        {{ 'nombtotaelev'|trans() }}</span></strong>
                            </th>
                        </tr>



                        {% for key ,  entity  in entities %}
                            <tr>
                                <td>{{ key }}</td>

                                <td>{{ entity.entityetabsour.codecircregi.libecircregiar }}</td>
                                <td>{{ entity.entityetabsour.codedele.libedelear }}</td>
                                <td>{{ entity.entityetabsour.libeetabar }}</td>
                                <td>{{ entity.entityetabsour.codetypeetab.libetypeetabar }}</td>
                                <td align="right">   {{ entity.nombelevmasc }}</td>
                                <td align="right">{{ entity.nombelevfemi }} </td>
                                <td align="right">{{ entity.nombtotaelev }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>


            </div>
        </center>
    {% endif %}

{% endblock %}
