{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveeleveeleveeablissementprivee' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <div style="display: none">
        <a href="{{ path("statElev", {"codepack":"StatElev"}) }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
        <a href="{{ path('effectiveeleveeleveeablissementprivee_edit') }}" style="display:inline-block" id="BtnEditer">BtnEditer</a>
    </div>
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <div>
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">{{ 'nombelevnouv'|trans() }}
                            </td>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">{{ 'nombelevredo'|trans() }}
                            </td>
                            <td align="center" colspan="3"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">{{ 'nombtotaelev'|trans() }}
                            </td>
                        </tr>
                        <tr>
                            <th align="center" scope="col"
                                style="color:White;background-color:#4F81BD;">{{ 'Codeprof codecyclense'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#4F81BD;">{{ 'Niveauscolaire'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombtotaelev'|trans() }}</th>
                        </tr>
                        {% set testRepeat = 9999 %}
                        {% for key , entity in entities %}
                            <tr>
                                {% if entity.codenivescol.codecyclense.codecyclense!=testRepeat %}
                                    <td style="background: #ffffff"
                                        rowspan="{{ rowspan[entity.codenivescol.codecyclense.codecyclense]|length }}">{{ entity.codenivescol.codecyclense.libecyclensear }}</td>
                                {% endif %}
                                {% set testRepeat = entity.codenivescol.codecyclense.codecyclense %}
                                <td>
                                    {{ entity.codenivescol.libenivescolar }}{{ entity.codenivescol.codenivescol }}
                                </td>


                                <td align="right">{{ entity.nombelevmascnouv }}</td>
                                <td align="right">{{ entity.nombelevfeminouv }}</td>
                                <td align="right">{{ entity.nombelevmascredo }}</td>
                                <td align="right">{{ entity.nombelevfemiredo }}</td>
                                <td align="right"
                                    style="background-color:#EEEEEE;">{{ entity.nombtotaelevmasc }}</td>
                                <td align="right"
                                    style="background-color:#EEEEEE;">{{ entity.nombtotaelevfemi }}</td>
                                <td align="right"
                                    style="background-color:#EEEEEE;">{{ entity.nombtotaelev }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </center>
    {% endif %}
{% endblock %}
