{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveeleveeleveeablissementprivee' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <div>
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">الجدد
                            </td>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">الراسبون
                            </td>
                            <td align="center" colspan="3"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">الجملة
                            </td>
                        </tr>
                        <tr>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">مرحلة التعليم
                            </th>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">المستوى
                                الدراسي
                            </th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">الجملة</th>
                        </tr>
                        {% set testRepeat = 0 %}
                        {% for key , entity in entities %}
                            <tr>
                                {% if entity.codenivescol.codecyclense.codecyclense!=testRepeat %}
                                    <td style="background: #ffffff"
                                        rowspan="{{ rowspan[entity.codenivescol.codecyclense.codecyclense]|length }}">{{ entity.codenivescol.codecyclense.libecyclensear }}</td>
                                {% endif %}
                                {% set testRepeat = entity.codenivescol.codecyclense.codecyclense %}
                                <td>
                                    {{ entity.codenivescol.libenivescolar }}
                                </td>
                                <td align="right">{{ entity.nombelevmascnouv }}</td>
                                <td align="right">{{ entity.nombelevfeminouv }}</td>
                                <td align="right">{{ entity.nombelevmascredo }}</td>
                                <td align="right">{{ entity.nombelevfemiredo }}</td>
                                <td align="right"
                                    style="background-color:#EEEEEE;">{{ entity.nombtotaelevmasc }}</td>
                                <td align="right"
                                    style="background-color:#EEEEEE;">{{ entity.nombtotaelevfemi }}</td>
                                <td align="right"
                                    style="background-color:#EEEEEE;">{{ entity.nombtotaelev }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </center>
    {% endif %}
{% endblock %}
