{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveeleveniveauscolaire' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}

    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">


                <div>
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <td align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;"></td>
                            <td align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;"></td>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;">
                                {{ 'nombelevnouv'|trans() }}
                            </td>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;">
                                {{ 'nombelevredo'|trans() }}
                            </td>
                            <td align="center" colspan="3"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;">
                                {{ 'nombtotaelev'|trans() }}
                            </td>
                            <td align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:1px;border-style:Solid;font-weight:bold;"></td>
                        </tr>
                        <tr>
                            <th align="center" scope="col"
                                style="color:White;background-color:#4F81BD;">{{ 'Niveauscolaire'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#4F81BD;">{{ 'nombclass'|trans() }} </th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'nombtotaelev'|trans() }}</th>
                            <th align="center" scope="col"
                                style="color:White;background-color:#92B3CF;">{{ 'moyen_eleve_nombclass'|trans() }}</th>
                        </tr>
                        {% set codecyclense = 0 %}
                        {% set nombclasselev = 0 %}
                        {% set nombelevmascnouv = 0 %}
                        {% set nombelevfeminouv = 0 %}
                        {% set nombelevmascredo = 0 %}
                        {% set nombelevfemiredo = 0 %}
                        {% set nombtotaelevmasc = 0 %}
                        {% set nombtotaelevfemi = 0 %}
                        {% set nombtotaelev = 0 %}
                        {% for key , entity in entities %}

                            <tr>
                                <td>{{ entity.codenivescol.libenivescolar }}</td>
                                <td align="right">{{ entity.nombclasselev }} {% set nombclasselev = nombclasselev + entity.nombclasselev %}</td>
                                <td align="right">{{ entity.nombelevmascnouv }} {% set nombelevmascnouv = nombelevmascnouv + entity.nombelevmascnouv %}</td>
                                <td align="right">{{ entity.nombelevfeminouv }} {% set nombelevfeminouv = nombelevfeminouv + entity.nombelevfeminouv %}</td>
                                <td align="right">{{ entity.nombelevmascredo }} {% set nombelevmascredo = nombelevmascredo + entity.nombelevmascredo %}</td>
                                <td align="right">{{ entity.nombelevfemiredo }} {% set nombelevfemiredo = nombelevfemiredo + entity.nombelevfemiredo %}</td>
                                <td align="right">{{ entity.nombtotaelevmasc }} {% set nombtotaelevmasc = nombtotaelevmasc + entity.nombtotaelevmasc %} </td>
                                <td align="right">{{ entity.nombtotaelevfemi }} {% set nombtotaelevfemi = nombtotaelevfemi + entity.nombtotaelevfemi %}</td>
                                <td align="right">{{ entity.nombtotaelev }} {% set nombtotaelev = nombtotaelev + entity.nombtotaelev %}</td>
                                <td align="right">
                                    {% if entity.nombclasselev >0 %}
                                        {{ entity.nombtotaelev / entity.nombclasselev }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr align="center"
                            style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:2px;border-style:Solid;">
                            <td>{{ 'nombtotaelev'|trans() }}:</td>
                            <td>{{ nombclasselev }}</td>
                            <td>{{ nombelevmascnouv }}</td>
                            <td>{{ nombelevfeminouv }}</td>
                            <td>{{ nombelevmascredo }}</td>
                            <td>{{ nombelevfemiredo }}</td>
                            <td>{{ nombtotaelevmasc }}</td>
                            <td>{{ nombtotaelevfemi }}</td>
                            <td>{{ nombtotaelev }}</td>
                            <td> {% if nombclasselev >0 %}

                                    {{ nombtotaelev / nombclasselev }}
                                {% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>

        </center>
    {% endif %}
{% endblock %}
