{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveeleveeleveetranger' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <div style="display: none">
        <a href="{{ path("statElev", {"codepack":"StatElev"}) }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
        <a href="{{ path('effectiveeleveeleveetranger_edit') }}" style="display:inline-block" id="BtnEditer">BtnEditer</a>
    </div>
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <div>
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <td align="center" colspan="1"
                                style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                            <td align="center" colspan="3">{{ 'codecyclense_basique'|trans() }} </td>
                        </tr>
                        <tr>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">{{ 'Nationalite'|trans() }}</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombtotaelev'|trans() }}</th>
                        </tr>
                        {% for entity in entities %}

                            <tr>
                                <td>{{ entity.codenati.libenatiar }}</td>
                                <td align="right">{{ entity.nombelevmasc }}</td>
                                <td align="right">{{ entity.nombelevfemi }}</td>
                                <td align="right">{{ entity.nombtotaelev }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>{{ 'nombtotaelev'|trans() }}</td>
                            <td id="nombelevmasc"></td>
                            <td id="nombelevfemi"></td>
                            <td id="nombtotaelev"></td>

                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </center>
    {% endif %}
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script >
         $("#nombelevmasc").html(sumOfColumns("CPHMain_GridView_Browse", 2, true));
         $("#nombelevfemi").html(sumOfColumns("CPHMain_GridView_Browse", 3, true));
         $("#nombtotaelev").html(sumOfColumns("CPHMain_GridView_Browse", 4, true));

     </script>

 {% endblock %}