{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveeleveelevenouveauclasspreparatoire' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <div style="display: none">
        <a href="{{ path("statElev", {"codepack":"StatBudget"}) }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
        <a href="{{ path('effectifelevedemiresidant_edit') }}" style="display:inline-block" id="BtnEditer">BtnEditer</a>
    </div>
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>
            <div id="CPHMain_upGridView">

                <div>
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">{{ 'codesourprov'|trans() }}</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombtotaelev'|trans() }}</th>
                        </tr>
                        {% for key , entity in entities %}
                            <tr>

                                <td>{{ entity.codesourprov.libesourprovar }}</td>
                                <td align="right">{{ entity.nombelevmasc }}</td>
                                <td align="right">{{ entity.nombelevfemi }}</td>
                                <td align="right" style="background-color:#EEEEEE;">{{ entity.nombtotaelev }}</td>
                            </tr>
                        {% endfor %}

                        <tr align="center"
                            style="color:White;background-color:#4F81BD;border-color:#4F81BD;border-width:2px;border-style:Solid;">
                            <td>{{ 'nombtotaelev'|trans() }}:</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </center>
    {% endif %}
{% endblock %}
