{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectifelevenouveauhuitiemetechnique' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <div style="display: none">
        <a href="{{ path("statElev", {"codepack":"StatElev"}) }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
        <a href="{{ path('effectifelevenouveauhuitiemetechnique_edit') }}" style="display:inline-block" id="BtnEditer">BtnEditer</a>
    </div>
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <table width="100%" id="CPHMain_GridView_Browse">
                    <tbody>
                    <tr style="background-color: #4F81BD; color: White;" align="center">
                        <td colspan="2">
                            {{ 'nombelevvenasepttechnique'|trans() }}
                        </td>
                        <td colspan="2">
                            {{ 'nombelevvenahuittechnique'|trans() }}
                        </td>
                        <td colspan="3">
                            {{ 'nombtotaelev'|trans() }}
                        </td>
                    </tr>


                    <tr style="background-color: #92B3CF; color: White;" align="center">
                        <td>
                            <span id="CPHMain_Label4"
                                  style="display:inline-block;width:98%;">{{ 'nombelevmasc'|trans() }}</span>
                        </td>
                        <td>
                            <span id="CPHMain_Label5"
                                  style="display:inline-block;width:98%;">{{ 'nombelevfemi'|trans() }}</span>
                        </td>
                        <td>
                            <span id="CPHMain_Label7"
                                  style="display:{{ 'nombelevmasc'|trans() }}ine-block;width:98%;">{{ 'nombelevmasc'|trans() }}</span>
                        </td>
                        <td>
                            <span id="CPHMain_Label8"
                                  style="display:inline-block;width:98%;">{{ 'nombelevfemi'|trans() }}</span>
                        </td>
                        <td>
                            <span id="CPHMain_label6"
                                  style="display:inline-block;width:98%;">{{ 'nombelevmasc'|trans() }}</span>
                        </td>
                        <td>
                            <span id="CPHMain_Label9"
                                  style="display:inline-block;width:98%;">{{ 'nombelevfemi'|trans() }}</span>
                        </td>
                        <td>
                            <span id="CPHMain_Label1"
                                  style="display:inline-block;width:98%;">{{ 'nombtotaelev'|trans() }}</span>
                        </td>
                    </tr>
                    {% for entity in entities %}
                        <tr style="background-color: white; color: black;">
                            <td style="text-align: center;">
                                {{ entity.nombelevmascvenasept }}
                            </td>
                            <td style="text-align: center;">
                                {{ entity.nombelevfemivenasept }}
                            </td>
                            <td style="text-align: center;">
                                {{ entity.nombelevmascvenahuit }}
                            </td>
                            <td style="text-align: center;">
                                {{ entity.nombelevfemivenahuit }}
                            </td>
                            <td style="background-color:#EEEEEE;  text-align: center;">
                                {{ entity.nombtotaelevvenasept }}
                            </td>
                            <td style="background-color:#EEEEEE;  text-align: center;">
                                {{ entity.nombtotaelevvenahuit }}
                            </td>
                            <td style="background-color:#EEEEEE;  text-align: center;">
                                {{ entity.nombtotaelevvenasept + entity.nombtotaelevvenahuit }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </center>
    {% endif %}

{% endblock %}
