{% extends '::base.html.twig' %}

{% block body %}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveenseignentlisteenseignenteducationtechnique' })) }}

    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <div style="display: none">
        <a href="{{ path("statElev", {"codepack":"StatBudget"}) }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
        <a href="{{ path('effectifelevedemiresidant_edit') }}" style="display:inline-block" id="BtnEditer">BtnEditer</a>
    </div>

    <center>
        <br>
        {% if entities is defined  and entities|length > 0 %}
            <div id="CPHMain_UP">


                <div>
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 17%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
{{ 'nomprenelev'|trans() }}
                                        </span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
{{ 'Genre'|trans() }}
                                        </span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
{{ 'Diplome'|trans() }}
                                        </span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
{{ 'Specialite'|trans() }}
                                        </span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
{{ 'codegrad'|trans() }}
                                        </span></strong>
                            </th>

                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
{{ 'codetypetrav'|trans() }}
                                        </span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
{{ 'nombheursema'|trans() }}
                                        </span></strong>
                            </th>
                            <th style="border-bottom: 1px solid #3768BC; text-align: right; width:10%; background-color:#4F81BD">
                                <strong><span style="font-size: 12pt; color: #fff; background-color:#4F81BD">
{{ 'obse'|trans() }}
                                        </span></strong>
                            </th>

                        </tr>

                        {% for entity in entities %}
                            <tr>
                                <td align="right">{{ entity.nompren }}</td>
                                <td align="right">{{ entity.codegenr }}</td>
                                <td align="right">{{ entity.codedipl }}</td>
                                <td align="right">   {{ entity.codespec }}</td>
                                <td align="right">{{ entity.gradactu }}</td>
                                <td align="right">{{ entity.codetypetrav }}</td>
                                <td align="right">{{ entity.nombheursema }}</td>
                                <td align="right">   {{ entity.obse }}</td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        {% endif %}
    </center>

{% endblock %}
