{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveeleveeleveeablissementprivee' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}

    {#
    {% if editForms|length > 0 %}
        {% for editForm in editForms %}
            {{ form(editForm) }}
        {% endfor %}
    {% endif %}#}
    {% if entities is defined  and entities|length > 0 %}
        <center>
            <br>

            <div id="CPHMain_upGridView">

                <div>
                    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
                           style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
                        <tbody>
                        <tr>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">الجدد
                            </td>
                            <td align="center" colspan="2"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">الراسبون
                            </td>
                            <td align="center" colspan="3"
                                style="color:White;background-color:#4F81BD;font-weight:bold;">الجملة
                            </td>
                        </tr>
                        <tr>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">مرحلة التعليم
                            </th>
                            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">المستوى
                                الدراسي
                            </th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ذكر</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">أنثى</th>
                            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">الجملة</th>
                        </tr>
                        {% set  cycleenseigenement = 9999999 %}
                        {% for key ,  codenivescol in codenivescols %}
                            {% for key1,   codeniv in codenivescol %}
                                <tr>
                                    {% if  key !=  cycleenseigenement %}
                                        {% set cycleenseigenement  = key %}
                                        <td rowspan="{{ codenivescol|length }}">{{ cycleenseignement[key].libecyclensear }}</td>

                                    {% endif %}
                                    <td>
                                        {{ codeniv.libenivescolar }}
                                    </td>
                                    <td align="right">{{ etablissementprivee[key1].nombelevmascnouv }}</td>
                                    <td align="right">{{ etablissementprivee[key1].nombelevfeminouv }}</td>
                                    <td align="right">{{ etablissementprivee[key1].nombelevmascredo }}</td>
                                    <td align="right">{{ etablissementprivee[key1].nombelevfemiredo }}</td>
                                    <td align="right"
                                        style="background-color:#EEEEEE;">{{ etablissementprivee[key1].nombtotaelevmasc }}</td>
                                    <td align="right"
                                        style="background-color:#EEEEEE;">{{ etablissementprivee[key1].nombtotaelevfemi }}</td>
                                    <td align="right"
                                        style="background-color:#EEEEEE;">{{ etablissementprivee[key1].nombtotaelev }}</td>

                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </center>
    {% endif %}
{% endblock %}
