{% extends '::base.html.twig' %}

{% block body %}

    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ValiQues', 'TitleContextValue' : Package.libepackar, 'RouteAction' : '' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : '', 'features' : ''}) }}
<br>
    <center>
        <table width="99%" style="font-size: 14pt; font-family: Verdana">

            <tbody>
            {% for entity in entities %}
                <tr>
                    <td width="80%" class="RowStyle">
                        &nbsp;
                        <img src="{{ asset('bundles/sisecore/images/16x16/symbol.png') }}" width="12px">
                        <span>{{ entity.libequesar }}</span>
                    </td>
                    <td width="10%" class="RowStyle" align="center">

                        {% if (entity.nameclass|lower|replace({'_': ""})~'_list')|routeExists == 1 %}
                            <a href="{{ path(entity.nameclass|lower|replace({'_': ""})~'_list') }}"
                               title="إطلاع">
                                <img src="{{ asset('bundles/sisecore/images/32x32/overview.png') }}"></a>
                        {% else %}
                            <a href="#" title="إطلاع">
                                <img src="{{ asset('bundles/sisecore/images/32x32/overview_disactive.png') }}">
                            </a>

                        {% endif %}
                    </td>
                    <td width="10%" class="RowStyle" align="center">
                        {% if (entity.nameclass|lower|replace({'_': ""})~'_edit')|routeExists == 1 %}
                            <a href="{{ path(entity.nameclass|lower|replace({'_': ""})~'_edit') }}"
                               title="تحيين">
                                <img src="{{ asset('bundles/sisecore/images/32x32/edit_file.png') }}"></a>
                        {% else %}
                            <a href="#" title="تحيين">
                                <img src="{{ asset('bundles/sisecore/images/32x32/edit_file_disactive.png') }}"></a>

                        {% endif %}


                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </center>
{% endblock %}
