{% extends '::base.html.twig' %}
{% block body -%}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'New', 'TitleContextValue' :  'nomenclatureparametreexogene'|trans() , 'RouteAction' : 'nomenclatureparametreexogene' })) }}
    <br>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
    <div id="nomenclature_sise">

        <div>
            {{ form_label(form.libeparaexogar) }}
            {{ form_errors(form.libeparaexogar) }}
            {{ form_widget(form.libeparaexogar) }}

        </div>
        <div>
            {{ form_label(form.libeparaexogfr) }}
            {{ form_errors(form.libeparaexogfr) }}
            {{ form_widget(form.libeparaexogfr) }}

        </div>
        <div>
            {{ form_label(form.valeindi) }}
            {{ form_errors(form.valeindi) }}
            {{ form_widget(form.valeindi) }}

        </div>
        <div>
            {{ form_label(form.choicefk) }}
            {{ form_errors(form.choicefk) }}
            {{ form_widget(form.choicefk) }}

        </div>

        <div>
            <table cellspacing="0" rules="all">
                <tbody>
                <tr>
                    <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 3%; background-color:#4F81BD">
                        {{ 'number'|trans() }}
                    </th>
                    <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 3%; background-color:#4F81BD">
                        {{ 'tablnamefk'|trans() }}
                    </th>
                    <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 3%; background-color:#4F81BD">
                        {{ 'valeindi'|trans() }}
                    </th>
                    <th style="border-bottom: 1px solid #3768BC; text-align: right; width: 5%; background-color:#4F81BD">

                        <a id="nomenclatureparametreexogene_form_items" style="display: inline-block"
                           rel="nomenclatureparametreexogene_form">
                            <img name="nomenclatureparametreexogene_add_line" id="nomenclatureparametreexogene_add_line" src="/bundles/sisecore/images/16x16/add_16.png">

                        </a>

                    </th>
                </tr>
                </tbody>
            </table>
        </div>


        <div style="height: 30px;">&nbsp;</div>
    </div>

    {{ form_end(form) }}

{% endblock %}