{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NomenclatureParametreexogene</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Codeparaexog</th>
                <td>{{ entity.codeparaexog }}</td>
            </tr>
            <tr>
                <th>Codefk</th>
                <td>{{ entity.codefk }}</td>
            </tr>
            <tr>
                <th>Tablnamefk</th>
                <td>{{ entity.tablnamefk }}</td>
            </tr>
            <tr>
                <th>Libeparaexogar</th>
                <td>{{ entity.libeparaexogar }}</td>
            </tr>
            <tr>
                <th>Libeparaexogfr</th>
                <td>{{ entity.libeparaexogfr }}</td>
            </tr>
            <tr>
                <th>Valeindi</th>
                <td>{{ entity.valeindi }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('nomenclatureparametreexogene') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('nomenclatureparametreexogene_edit', { 'id': entity.codeparaexog }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
