{% extends '::base.html.twig' %}
{% block body -%}
{% trans_default_domain 'SiseCoreBundle' %}
<div class="rightMenu">

    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'List', 'TitleContextValue' : 'La gestion des données des utilisateurs'|trans(), 'RouteAction' : '' })) }}

    <br>

    <div class="listLink">
        <ul>
            <li><a href="{{ path('securite_groupeutilisateur') }}">{{'SecuriteGroupeutilisateur'|trans()  }}</a></li>
            <li><a href="{{ path('securite_roles') }}">{{'SecuriteProfil'|trans()  }}</a></li>
            <li><a href="{{ path('sise_user_list') }}">{{'SecuriteUtilisateur'|trans()  }}</a></li>

        </ul>


    </div>

</div>
<div class="leftMenu">

    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'List', 'TitleContextValue' :  'SecuriteProfil'|trans() , 'RouteAction' : 'securite_roles' })) }}
    <br>
    <div style="display: none">
        <a href="{{ path('fos_user_registration_register') }}" style="display:inline-block" id="BtnNouveau">BtnNouveau</a>
    </div>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{'Codeprof'|trans()  }}</th>

                <th>{{'Libeproffr'|trans()  }}</th>


                <th>{{'Libeprofar'|trans()  }}</th>


                <th>{{'Obse'|trans()  }}</th>

                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('securite_roles_show', { 'id': entity.codeprof }) }}">{{ entity.codeprof }}</a></td>
                <td>{{ entity.libeproffr }}</td>
                <td>{{ entity.libeprofar }}</td>
                <td>{{ entity.obse }}</td>
                <td>
                        <a href="{{ path('securite_roles_edit', { 'id': entity.codeprof }) }}">{{'edit'|trans()  }}</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('securite_roles_new') }}">
                {{'new'|trans()  }}
            </a>
        </li>
    </ul>
    </div>
    {% endblock %}
