{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'Edit', 'TitleContextValue' :  'SecuriteProfil', 'RouteAction' : 'securite_roles' })) }}
    <br>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Codeprof</th>
                <td>{{ entity.codeprof }}</td>
            </tr>
            <tr>
                <th>Libeproffr</th>
                <td>{{ entity.libeproffr }}</td>
            </tr>
            <tr>
                <th>Libeprofar</th>
                <td>{{ entity.libeprofar }}</td>
            </tr>
            <tr>
                <th>Obse</th>
                <td>{{ entity.obse }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
