{% extends '::base.html.twig' %}
{% trans_default_domain 'SiseCoreBundle' %}
{% block body -%}
    <div style="display: none">
        <a href="{{ path('fos_user_registration_register') }}" style="display:inline-block" id="BtnNouveau">BtnNouveau</a>
    </div>
<div class="rightMenu">

    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'List', 'TitleContextValue' :'La gestion des données des utilisateurs'|trans(), 'RouteAction' : '' })) }}

    <br>

    <div class="listLink">
        <ul>
            <li><a href="{{ path('securite_groupeutilisateur') }}">{{'SecuriteGroupeutilisateur'|trans()  }}</a></li>
            <li><a href="{{ path('securite_roles') }}">{{'SecuriteProfil'|trans()  }}</a></li>
            <li><a href="{{ path('sise_user_list') }}">{{'SecuriteUtilisateur'|trans()  }}</a></li>

        </ul>


    </div>

</div>
<div class="leftMenu">
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : '', 'TitleContextValue' :  'SecuriteGroupeutilisateur'|trans(), 'RouteAction' : 'securite_groupeutilisateur' })) }}
<br>
    <table class="records_list" id="CPHMain_GridView_Browse">
        <thead>
            <tr>
                <th>{{'Codegrouutil'|trans()  }}</th>
                <th> {{'Libegrouutilfr'|trans()  }}</th>
                <th> {{'Libegrouutilar'|trans()  }}</th>
                <th> {{'Obse'|trans()  }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('securite_groupeutilisateur_show', { 'id': entity.codegrouutil }) }}">{{ entity.codegrouutil }}</a></td>
                <td>{{ entity.libegrouutilfr }}</td>
                <td>{{ entity.libegrouutilar }}</td>
                <td>{{ entity.obse }}</td>
                <td>

                        <a href="{{ path('securite_groupeutilisateur_edit', { 'id': entity.codegrouutil }) }}">{{ 'edit'|trans() }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('securite_groupeutilisateur_new') }}">
             {{ 'new'|trans() }}
            </a>
        </li>
    </ul>


    </div>
    {% endblock %}
