{% extends '::base.html.twig' %}
{% block body -%}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'New', 'TitleContextValue' :  'SecuriteGroupeutilisateur'|trans(), 'RouteAction' : 'securite_groupeutilisateur' })) }}
    <br>

    {{ form(form) }}
    <div style="display: none">
        <a href="{{ path('sise_user_list') }}" style="display:inline-block" id="BtnRetour">BtnRetour</a>
        <input type="reset" value="BtnAnnuler" id="BtnAnnuler">
    </div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('securite_groupeutilisateur') }}">
         {{ 'list'|trans() }}
        </a>
    </li>
</ul>
{% endblock %}
