{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' : nameclass.libequesar, 'RouteAction' : 'effectiveenseignentheureenseignent' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <br>
    {% if entities is defined  and entities|length > 0 %}
        <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
               style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
            <thead>
            <tr>
                <td align="center" colspan="3" style="color:White;background-color:#4F81BD;font-weight:bold;">
            {{ 'HeureEnseignement'|trans({}, 'SiseCoreBundle') }}
                </td>
            </tr>
            <tr>
                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'NombTotalHeuresEnseignement'|trans({}, 'SiseCoreBundle') }}</th>
                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'NombTotalHeuresSupplementaires'|trans({}, 'SiseCoreBundle') }}</th>
                <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'HeuresSupplementaires'|trans({}, 'SiseCoreBundle') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.totaheurense }}</td>
                    <td>{{ entity.totaheurensesupp }}</td>
                    <td>{{ entity.totaheurensecomp }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
