{% extends '::base.html.twig' %}

{% block body -%}
    {% trans_default_domain 'SiseCoreBundle' %}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' :nameclass.libequesar, 'RouteAction' : 'orientationfilieresportversgeneraledeuxieme' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <br>
    <div style="display: none">
        <a href="/app.php/stat/OrieElev/statElev" style="display:inline-block" id="BtnRetour">BtnRetour</a>
        <a href="/app.php/OrientationFilieresportversgeneraledeuxieme/edit" style="display:inline-block" id="BtnEditer">BtnEditer</a>
    </div>
    {% if entities is defined  and entities|length > 0 %}

        <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
               style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
            <thead>
            <tr>
                <th align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></th>
                {% for entityfilier in entitiesfili %}
                    <th align="center" colspan="3" style="color:White;background-color:#4F81BD;font-weight:bold;">
                        {{ entityfilier.libefiliar }}
                    </th>
                {% endfor %}

            </tr>
            <tr>
                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">السنة</th>
                {% for entityfilier in entitiesfili %}

                    <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombelevmasc'|trans() }}</th>
                    <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombelevfemi'|trans() }}</th>
                    <th align="center" scope="col" style="color:White;background-color:#92B3CF;">{{ 'nombtotaelev'|trans() }}</th>

                {% endfor %}


            </tr>
            </thead>
            <tbody>
            <tr>
                <td>راسبون بالسنة الأولى رياضة</td>
                {% for entityfilier2 in entitiesfili %}
                    {% set isadded = false %}
                    {% for entity in entities %}
                        {% if entity.anne ==1 and entity.redo %}
                            {% if entity.codefiliorig.codefili == entityfilier2.codefili %}
                                <td>{{ entity.nombelevmasc }}</td>
                                <td>{{ entity.nombelevfemi }}</td>
                                <td>{{ entity.nombelevfemi+entity.nombelevmasc }}</td>
                                {% set isadded = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if not isadded %}
                        <td style="background-color: #EEEEEE"></td>
                        <td style="background-color: #EEEEEE"></td>
                        <td style="background-color: #EEEEEE"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td>مرتقون من السنة الأولى رياضة إلى السنة الثانية</td>
                {% for entityfilier2 in entitiesfili %}
                    {% set isadded = false %}
                    {% for entity in entities %}
                        {% if entity.anne ==1 and not entity.redo %}
                            {% if entity.codefiliorig.codefili == entityfilier2.codefili %}
                                <td>{{ entity.nombelevmasc }}</td>
                                <td>{{ entity.nombelevfemi }}</td>
                                <td>{{ entity.nombelevfemi+entity.nombelevmasc }}</td>
                                {% set isadded = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if not isadded %}
                        <td style="background-color: #EEEEEE"></td>
                        <td style="background-color: #EEEEEE"></td>
                        <td style="background-color: #EEEEEE"></td>
                    {% endif %}
                {% endfor %}
            </tr>

            <tr>
                <td>راسبون بالسنة الثانية رياضة</td>
                {% for entityfilier2 in entitiesfili %}
                    {% set isadded = false %}
                    {% for entity in entities %}
                        {% if entity.anne ==2 and entity.redo %}
                            {% if entity.codefiliorig.codefili == entityfilier2.codefili %}
                                <td>{{ entity.nombelevmasc }}</td>
                                <td>{{ entity.nombelevfemi }}</td>
                                <td>{{ entity.nombelevfemi+entity.nombelevmasc }}</td>
                                {% set isadded = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if not isadded %}
                        <td style="background-color: #EEEEEE"></td>
                        <td style="background-color: #EEEEEE"></td>
                        <td style="background-color: #EEEEEE"></td>
                    {% endif %}
                {% endfor %}
            </tr>

            </tbody>
        </table>
    {% endif %}
{% endblock %}
