{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' :'قـائمـة مدرسي التربيـة التقنية (دون اعتبار مربي السنة التحضيرية)', 'RouteAction' : 'effectiveenseignentlisteenseignenteducationtechnique' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
<br>
{% if entities is defined  and entities|length > 0 %}
    <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse" style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
        <thead>
        <tr>
            <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
            <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
            <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
            <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
            <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
            <td align="center" colspan="2" style="color:White;background-color:#4F81BD;font-weight:bold;">الرتبة الحالية</td>
            <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
            <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
            <td align="center" colspan="1" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
        </tr><tr>
            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">ع/ ر</th>
            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">الاسم واللقب</th>
            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">النوع</th>
            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">الشهادة</th>
            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">الاختصاص</th>
            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">أصيل الابتدائي</th>
            <th align="center" scope="col" style="color:White;background-color:#4F81BD;">أصيل الثانوي</th>
            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">الأعمال المكلف بها</th>
            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">الساعات الأسبوعية</th>
            <th align="center" scope="col" style="color:White;background-color:#92B3CF;">ملاحظات</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.numeense }}</td>
                <td>{{ entity.nompren }}</td>
                <td>{{ entity.codegenr.libegenrar }}</td>
                <td>{{ entity.codedipl.libediplar }}</td>
                <td>{{ entity.codespec.libespecar }}</td>
                <td>
                    {#{% if entity.codegenr = 'M' %}#}
                    <input type="checkbox" {{ entity.gradactu ? 'checked="checked"' :'' }} disabled="disabled">
                </td>
                <td>
                    <input type="checkbox" {{ not entity.gradactu ? 'checked="checked"' :'' }} disabled="disabled">
                    {#{% endif %}#}
                </td>
                <td>{{ entity.codetypetrav.libetypetravar }}</td>
                <td>{{ entity.nombheursema }}</td>
                <td>{{ entity.obse }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
    {% endblock %}
