{% extends '::base.html.twig' %}

{% block body -%}
    {{ render(controller("SiseCoreBundle:Default:menu" , { 'PageContext' : 'ConsQues', 'TitleContextValue' :'التعويضات الظرفية', 'RouteAction' : 'effectiveenseignentlisteremplacementprovisoire' })) }}
    {{ include('SiseCoreBundle:Default:search.html.twig', {'form': search, 'pathfilter' : pathfilter}) }}
    <br>
    {% if entities is defined  and entities|length > 0 %}
        <table cellspacing="0" rules="all" id="CPHMain_GridView_Browse"
               style="border-color:#4F81BD;border-width:2px;border-style:Solid;width:100%;border-collapse:collapse;">
            <thead>
            <tr>
                <td align="center" colspan="3" style="color:White;background-color:#4F81BD;font-weight:bold;"></td>
            </tr>
            <tr>
                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">الإسم و اللقب</th>
                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">عدد الساعات</th>
                <th align="center" scope="col" style="color:White;background-color:#4F81BD;">سبب التعويض</th>
            </tr>
            <tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nomprenense }}</td>
                    <td>{{ entity.nombheur }}</td>
                    <td>{{ entity.codecausrempprov.libecausrempprovar }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
